@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%;
  background-color: white;
  @include mat-elevation(4);

  .noc-cam-progress {
    position: absolute;
    top: 0;
    height: 5px;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .noc-drawer {
    @include deep-width(380px);

    .noc-drawer-header {
      padding: 0;
      @include deep-height(280px);
      background-color: #FFF;
      @include mat-elevation(2);
      z-index: 1000;

      .noc-header {
        padding: 0 12px;
        @include deep-height(40px);
        border-bottom: #BBB solid 1px;
        @include mat-elevation(2);
        background-color: #FFF;
      }

      .noc-drawer-header-title {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .noc-drawer-body {
      padding: 24px 8 100px 0;
      min-height: calc(100% - 330px);
    }
  }

  .noc-group-row {
    position: relative;
    min-height: 40px;
    max-height: 500px;
    border-bottom: #CCC solid 1px;
    font-size: 12px;
    @include mat-elevation(1);

    .noc-modified-header {
      padding: 0 12px;
      @include deep-height(30px);
      font-size: 12px;
      background-color: $noc-highlight-color;
      border-bottom: darken($noc-highlight-color, 20%) solid 1px;

      .noc-title {
        font-weight: bold;
        margin-right: 8px;
      }

      .noc-action-button {
        // @include deep-height(30px);
      }
    }

    .noc-item-body {
      padding: 12px 10px;
    }

    .noc-name {
      font-size: 14px;
    }

    .noc-item {
      @include deep-width(100%);
      font-size: 12px;

      .noc-title {
        font-weight: bold;
        margin-right: 8px;
        color: #999;
      }
    }

    .noc-cams-number {
      padding: 2px 5px;
      @include deep-height(20px);
      background-color: #DDD;
      font-size: 10px;
      border-radius: 25%;
    }

    .noc-edit-button {
      background-color: #ffffff;
      color: map-get($primary, default);
      border: rgba(map-get($primary, default), 0.5) solid 1px;
      @include mat-elevation(1)
    }

    .noc-more-details-button {
      padding: 8px 0;
      cursor: pointer;
    }

    .noc-remove-button {
      height: 30px;
      width: 30px;
    }

    &:hover {
      background-color: #F2F2F2;
    }

    &.noc-selected {
      background-color: $noc-highlight-model-color;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }


}
