@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;


  .noc-form-container {
    background-color: #EEE;
    padding: 20px 10px;
  }

  .mat-tab-group,
  .mat-tab-body-wrapper,
  .tab-content {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: #BBB solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .annotons-table {
    // position: relative;
    //  flex: 1 1 auto;
    //    border-bottom: 1px solid rgba(0, 0, 0, .12);
    //  overflow: auto;



    .mat-header-cell,
    .mat-cell {
      padding: 0 10px;
      font-size: 10px !important;
      color: #000;
    }

    .mat-header-cell {
      font-size: 10px !important;
      font-weight: bold;
    }

    .mat-header-cell,
    .mat-header-row {
      display: none;
      @include deep-height(0);
      /*
      //padding: 0;
      min-height: 40px;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
      //  background-color: $noc-primary-color-light;
      // font-size: 3px !important;
      */
    }

    .noc-paginator {
      @include deep-height(0);
    }

    .annoton {
      position: relative;
      cursor: pointer;
      min-height: 40px;
      font-size: 12px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    /* .mat-header-cell {
      display:flex;
      justify-content:flex-end;
     } */
  }
}
