@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  padding: 0px;
  width: 100%;


  .noc-form-container {
    background-color: #EEE;
    padding: 20px 10px;
  }

  .noc-annoton-table-header {
    @include deep-height(30px);
    border-bottom: $noc-primary-color-light solid 1px;

    .noc-header-cell {
      padding: 0 10px;
      font-size: 10px;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .noc-group-side-heading {
    @include deep-width(25px);
    @include deep-height(100%);
    background-color: #DDD;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    word-break: normal;
    overflow-wrap: anywhere;
  }


  .mat-tab-group,
  .mat-tab-body-wrapper,
  .tab-content {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: #BBB solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .annoton-table {
    // position: relative;
    //  flex: 1 1 auto;
    //    border-bottom: 1px solid rgba(0, 0, 0, .12);
    //  overflow: auto;

    tr.mat-footer-row,
    tr.mat-row {
      height: auto;
    }

    .noc-column-flex {
      min-width: 150px !important;
    }


    .mat-cell {
      padding: 0 30px 0 10px;
      font-size: 12px !important;
      color: #000;
      border-right: #AAA solid 1px;
      position: relative;
      word-break: break-all;

      .noc-edit-button {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }



    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      //color: #0F0; // map-get($primary, default);
      font-weight: bold;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }

    .mat-header-row {

      @include deep-height(30px);
      border-bottom: $noc-primary-color-light solid 1px;

    }

    .noc-paginator {
      @include deep-height(0);
    }

    .annoton {
      position: relative;
      cursor: pointer;
      min-height: 40px;
      font-size: 12px;
    }


    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    /* .mat-header-cell {
      display:flex;
      justify-content:flex-end;
     } */
  }
}
