<div class="w-100-p">
  <div class="noc-annoton-table-body w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
    <div class="annoton-table" fxFlex="">
      <table fxFlex="1 1 auto" mat-table class="" [dataSource]="grid" [@animateStagger]="{value:'50'}">
        <ng-container matColumnDef="relationship">
          <th mat-header-cell *matHeaderCellDef fxFlex="120px" fxLayout="row" fxLayoutAlign="start center">Relationship
          </th>
          <td mat-cell *matCellDef="let entity" fxFlex="120px">
            <p class="">
              <strong> {{entity.qualifier}} </strong>
              {{entity.relationship}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="aspect">
          <th mat-header-cell *matHeaderCellDef fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">Asp</th>
          <td mat-cell *matCellDef="let entity" fxFlex="30px">
            <p class="">{{entity.aspect}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="term">
          <th mat-header-cell *matHeaderCellDef class="noc-column-flex" fxFlex="" fxLayout="row"
            fxLayoutAlign="start center">Term</th>
          <td mat-cell class="noc-column-flex" *matCellDef="let entity" fxFlex="" fxLayout="row"
            fxLayoutAlign="start center">
            <p class="">{{entity.term?.label}}
              <a (click)="$event.stopPropagation()" href="{{entity.term?.url}}" target="_blank">
                {{ entity.term?.id }}
              </a>
            </p>
            <noctua-inline-editor *ngIf="entity.term" [cam]="cam" [annoton]='annoton' [entity]="entity.node"
              [category]="EditorCategory.term" class="noc-edit-button">
            </noctua-inline-editor>
          </td>
        </ng-container>
        <ng-container matColumnDef="relationshipExt">
          <th mat-header-cell *matHeaderCellDef fxFlex="120px" fxLayout="row" fxLayoutAlign="start center">Relationship
            (ext)</th>
          <td mat-cell *matCellDef="let entity" fxFlex="120px">
            <p class="">{{entity.relationshipExt}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="extension">
          <th mat-header-cell *matHeaderCellDef fxFlex="150px" fxLayout="row" fxLayoutAlign="start center">Extension
          </th>
          <td mat-cell *matCellDef="let entity" fxFlex="150px" fxLayout="row" fxLayoutAlign="start center">
            <p class="">{{entity.extension?.label}}
              <a (click)="$event.stopPropagation()" href="{{entity.extension?.url}}" target="_blank">
                {{ entity.extension?.id }}
              </a>
            </p>
            <noctua-inline-editor *ngIf="entity.extension" [cam]="cam" [annoton]='annoton' [entity]="entity.node"
              [category]="EditorCategory.term" class="noc-edit-button">
            </noctua-inline-editor>
          </td>
        </ng-container>
        <ng-container matColumnDef="evidence">
          <th mat-header-cell *matHeaderCellDef class="noc-column-flex" fxFlex="" fxLayout="row"
            fxLayoutAlign="start center">Evidence</th>
          <td mat-cell *matCellDef="let entity" class="noc-column-flex" fxFlex="" fxLayout="row"
            fxLayoutAlign="start center">
            <p class="">{{entity.evidence?.label}}
              <a (click)="$event.stopPropagation()" href="{{entity.evidence?.url}}" target="_blank">
                {{ entity.evidence?.id }}
              </a>
            </p>
            <noctua-inline-editor [cam]="cam" [annoton]='annoton' [entity]="entity.node"
              [category]="EditorCategory.evidence" [evidenceIndex]="entity.evidenceIndex" class="noc-edit-button">
            </noctua-inline-editor>
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef fxFlex="150px" fxLayout="row" fxLayoutAlign="start center">Reference
          </th>
          <td mat-cell *matCellDef="let entity" fxFlex="150px" fxLayout="row" fxLayoutAlign="start center">
            <p class="">{{entity.reference}}</p>
            <noctua-inline-editor [cam]="cam" [annoton]='annoton' [entity]="entity.node"
              [category]="EditorCategory.reference" [evidenceIndex]="entity.evidenceIndex" class="noc-edit-button">
            </noctua-inline-editor>
          </td>
        </ng-container>
        <ng-container matColumnDef="with">
          <th mat-header-cell *matHeaderCellDef fxFlex="120px" fxLayout="row" fxLayoutAlign="start center">With</th>
          <td mat-cell *matCellDef="let entity" fxFlex="120px" fxLayout="row" fxLayoutAlign="start center">
            <p class="">{{entity.with}}</p>
            <noctua-inline-editor [cam]="cam" [annoton]='annoton' [entity]="entity.node"
              [category]="EditorCategory.with" [evidenceIndex]="entity.evidenceIndex" class="noc-edit-button">
            </noctua-inline-editor>
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedBy">
          <th mat-header-cell *matHeaderCellDef fxFlex="120px" fxLayout="row" fxLayoutAlign="start center">Assigned By
          </th>
          <td mat-cell *matCellDef="let entity" fxFlex="120px">
            <a href="{{entity.assignedBy?.url}}" class="" target="_blank">{{entity.assignedBy?.label}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef fxFlex="50px" fxLayout="row" fxLayoutAlign="start center"></th>
          <td mat-cell *matCellDef="let entity" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex=""></span>
            <button mat-icon-button (click)="updateCurrentMenuEvent($event)" class="noc-action-button" fxFlex="40px"
              [matMenuTriggerFor]="entityMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
              <button mat-menu-item *ngIf="entity.treeLevel===0" class="" (click)="toggleIsComplement(entity)">
                NOT Qualifier
              </button>
              <button mat-menu-item *ngIf="entity.node.canInsertNodes" [matMenuTriggerFor]="addMenu">Add</button>
              <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
              <button mat-menu-item class="">
                Delete
              </button>
            </mat-menu>
            <mat-menu #addMenu="matMenu">
              <button mat-menu-item *ngFor="let insertMenuItem of entity.node.canInsertNodes" class=""
                (click)="insertEntity(entity.node, insertMenuItem)">
                {{insertMenuItem.label}}
              </button>
            </mat-menu>
            <mat-menu #evidenceMenu="matMenu">
              <button mat-menu-item (click)="addEvidence(entity.node, entity.evidenceIndex)" class="">
                Add Evidence
              </button>
              <button (click)="removeEvidence(entity.node,i)" mat-menu-item>
                Remove Evidence
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let entity; columns: displayedColumns;" class="" matRipple
          [ngClass]="{'noc-row-selected': entity.node.uuid === noctuaAnnotonEntityService.termNode?.uuid}"></tr>
      </table>
      <div *ngIf="grid?.length===0" class="noc-no-info">
        no results yet.
      </div>
    </div>
  </div>
</div>
