<div class="w-100-p">
  <div class="noc-activity-node noctua-form-table w-100-p"
    [ngClass]="{'noc-selected': activity.displayId===camService.currentMatch?.activityDisplayId}" fxLayout="row"
    fxLayoutAlign="start stretch">
    <div class="noc-term-cell noc-entity-cell" fxLayout="column" fxLayoutAlign="start stretch"
      fxFlex="{{relationWidth}}" [attr.id]="entity.term?.displayId"
      [ngClass]="{'noc-highlight-match': entity.term?.highlight,
            'noc-highlight-modified': entity.term?.modified,
            'noc-highlight-match-current': camService.currentMatch?.uuid && entity.term?.uuid===camService.currentMatch?.uuid}">
      <div class="noc-cell-floating-title">
        {{entity.label}}
      </div>
      <button mat-icon-button *ngIf="entity.canDelete" (click)="deleteEntity(entity)" class="noc-delete-button">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
      <span class="">
        {{entity.term?.label}} <br>
        <a (click)="$event.stopPropagation()" href="{{entity.term?.url}}" target="_blank">
          {{ entity.term?.id }}
        </a>
      </span>
      <ng-container *ngIf="termEditable">
        <noctua-inline-editor *ngIf="noctuaUserService.user && entity.term && options.editableTerms" [cam]="cam"
          [activity]='activity' [entity]="entity" [category]="EditorCategory.term" class="noc-edit-button">
        </noctua-inline-editor>
      </ng-container>

    </div>
    <div *ngIf="settings.showEvidence" fxFlex="" class="noc-evidence-cell p-0" fxLayout="row"
      fxLayoutAlign="start stretch">
      <noc-evidence-form-table *ngIf="entity.showEvidence" class="w-100-p" [settings]="settings"
        [options]="optionsDisplay" [cam]="cam" [entity]="entity">
      </noc-evidence-form-table>
    </div>
    <div *ngIf="!settings.showEvidence && settings.showEvidenceSummary" class="evidence-summary-cell p-0"
      fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="!entity.skipEvidenceCheck" class="w-100-p ">
        <div *ngIf="entity.predicate?.evidence.length>0" class="">
          {{entity.predicate?.evidence.length}} evidence
        </div>
        <div *ngIf="entity.predicate?.evidence.length===0" class="noc-no-info">
          no evidence present.
        </div>
      </div>
    </div>
    <div *ngIf="noctuaUserService.user &&  options.showMenu" class="noc-cell noc-action-cell" fxLayout="column"
      fxLayoutAlign="center center">
      <button mat-icon-button (click)="updateCurrentMenuEvent($event)" class="noc-action-button" fxFlex="40px"
        [matMenuTriggerFor]="entityMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
        <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchDatabaseDialog(entity)">
          Search Annotations
        </button>
        <!-- <button mat-menu-item *ngIf="entity.aspect" class="" (click)="editEntity(entity)">
          Edit
        </button> -->
        <button mat-menu-item *ngIf="entity.insertMenuNodes" [matMenuTriggerFor]="addMenu">Add</button>
        <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
        <button mat-menu-item *ngIf="entity.canDelete" class="" color="warn" (click)="deleteEntity(entity)">
          Delete
        </button>
      </mat-menu>
      <mat-menu #addMenu="matMenu">
        <button mat-menu-item *ngFor="let insertMenuItem of entity.insertMenuNodes" class=""
          (click)="insertEntity(entity, insertMenuItem)">
          {{insertMenuItem.label}}
        </button>
      </mat-menu>
      <mat-menu #evidenceMenu="matMenu">
        <button mat-menu-item (click)="addEvidence(entity)" class="">
          Add Evidence
        </button>
        <!--   <button (click)="removeEvidence(entity,i)" mat-menu-item>
              Remove Evidence
            </button> -->
      </mat-menu>
    </div>
  </div>
</div>