<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Form</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch" name="camFormGroup" [formGroup]="camFormGroup" class="noc-container noc-cam-form">
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Model Information
        </div>
        <span fxFlex></span>
        <button mat-button [matMenuTriggerFor]="modalOptions" class="noc-bl">
          MODEL OPTIONS <b class="caret"></b>
        </button>
        <mat-menu #modalOptions="matMenu">
          <a mat-menu-item>
            Start New Model
          </a>
          <a mat-menu-item>
            Create From an Existing Activity
          </a>
          <a *ngFor="let noctuaFormExample of noctuaFormConfigService.noctuaFormExample.basic" mat-menu-item (click)="createExample(noctuaFormExample.annoton)">
            {{noctuaFormExample.name}}
          </a>
        </mat-menu>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="row">
          <mat-form-field class="mr-8" fxFlex="50">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title" />
          </mat-form-field>
          <mat-form-field class="mr-8" fxFlex="25">
            <mat-label>State</mat-label>
            <mat-select placeholder="" formControlName="state" required>
              <mat-option *ngFor="let modelState of noctuaFormConfigService.modelState.options" [value]="modelState">
                {{modelState.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="" fxFlex="25">
            <mat-label>Group</mat-label>
            <input matInput formControlName="group" placeholder="Group" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Gene Product
        </div>
        <span fxFlex></span>
        <button mat-button [matMenuTriggerFor]="annotonTypeOptions" class="noc-bl">
          {{noctuaFormGridService.annoton.annotonType}} <b class="caret"></b>
        </button>
        <mat-menu #annotonTypeOptions="matMenu">
          <a mat-menu-item *ngFor="let annotonType of noctuaFormConfigService.annotonType.options" (click)="changeAnnotonTypeForm(annotonType)">
            {{annotonType.label}}
          </a>
        </mat-menu>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="ph-15 noc-annoton-group-row" fxLayout="column">
          <mat-form-field class="">
            <input type="text" matInput formControlName="gp" placeholder="Gene Product" [matAutocomplete]="gpAuto" />
            <mat-autocomplete #gpAuto="matAutocomplete" [displayWith]="termDisplayFn">
              <mat-option *ngFor="let item of noctuaFormGridService.annoton.presentation?.geneProduct.term.lookup.results"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.id }}
                  </div>
                  <span fxFlex></span>
                  {{ item.label }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Function Description
        </div>
        <span fxFlex></span>
        <button mat-button [matMenuTriggerFor]="annotonModelTypeOptions" class="noc-bl">
          {{noctuaFormGridService.annoton.annotonModelType}} <b class="caret"></b>
        </button>
        <mat-menu #annotonModelTypeOptions="matMenu">
          <a mat-menu-item *ngFor="let annotonModelType of noctuaFormConfigService.annotonModelType.options" (click)="changeAnnotonModelTypeForm(annotonModelType)">
            {{annotonModelType.label}}
          </a>
        </mat-menu>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div [formArrayName]="'fd'" *ngFor="let nodeGroup of camFormGroup.get('fd').controls; let i = index;" class="mat-elevation-z4 mb-4">
          <div [formGroupName]="i" *ngFor="let entity of nodeGroup.get('entityGroup').controls| keyvalue" class="">
            <noc-cam-entity [entityFormGroup]="entity.value" [nodeGroupName]="nodeGroup.get('name').value" [entityName]="entity.key"
              fxLayout="row" fxLayoutAlign="start center" class="ph-15 w-100-p">
            </noc-cam-entity>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" class="noc-submit-row">
      <button *ngIf="false" (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">
        Why is the "Search" button disabled?
      </button>
      <span fxFlex></span>
      <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
      <button (click)="save()" type="button" mat-raised-button color="primary">Save</button>
    </div>
  </form>
</div>
