<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Form</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form *ngIf="camFormGroup" fxLayout="column" fxLayoutAlign="start stretch" name="camFormGroup"
    [formGroup]="camFormGroup" class="noc-cam-form">
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header px-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Model Information
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body px-12 pt-12" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field class="">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Title" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>State</mat-label>
          <mat-select placeholder="" formControlName="state" required>
            <mat-option *ngFor="let modelState of noctuaFormConfigService.modelState.options" [value]="modelState">
              {{modelState.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Group</mat-label>
          <mat-select placeholder="" formControlName="state" required>
            <mat-option *ngFor="let modelGroup of noctuaUserService.user?.groups" [value]="modelGroup">
              {{modelGroup.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div layout="row" class="noc-submit-row">
      <button *ngIf="false" (click)='close()' type="button" mat-raised-button color="" class="mr-8">
        Why is the "Search" button disabled?
      </button>
      <span fxFlex></span>
      <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
      <button (click)="save()" type="button" mat-raised-button color="primary">Save</button>
    </div>
  </form>
</div>
