<div [attr.id]="activity.displayId" fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p"
  [ngClass]="{'noc-selected': activity.displayId===camService.currentMatch?.activityDisplayId}">
  <div class="noc-activity-heading" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="25px" (click)="$event.stopPropagation()">
      <button mat-icon-button (click)="toggleExpand(activity)" color="primary" class="noc-toggle-expand-button">
        <fa-icon *ngIf="!activity.expanded" [icon]="['fas', 'caret-right']"></fa-icon>
        <fa-icon *ngIf="activity.expanded" [icon]="['fas', 'caret-down']"></fa-icon>
      </button>
    </div>
    <div class=" noc-cell" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-display-number noc-sm" (click)="$event.stopPropagation()">
        {{activity.displayNumber}}
      </div>
    </div>
    <div class="noc-gp noc-cell" fxLayout="row" fxLayoutAlign="start center">
      <span class="noc-no-info" *ngIf="!gpNode">GP info not available</span>
      <span class="text-truncate" *ngIf="gpNode"
        matTooltip="GP:  {{gpNode.term?.label}}  &#13; ( {{ gpNode.term?.id }})" [matTooltipPosition]="'below'"
        [matTooltipShowDelay]="1000">
        {{gpNode.term?.label}}
        <a class="ml-4" (click)="$event.stopPropagation()" href="{{gpNode.term?.url}}" target="_blank">
          {{ gpNode.term?.id }}
        </a>
      </span>
    </div>
    <div class="noc-cam-type noc-cell" fxLayout="row" fxLayoutAlign="start center">
      <mat-chip class="noc-chip-activity-type noc-chip-xs">
        <span>{{activityTypeOptions[activity.activityType]?.label}}</span>
      </mat-chip>
    </div>
    <div class="noc-cam-date noc-cell" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon class="noc-icon" [icon]="['fas', 'calendar-day']"></fa-icon> <span
        class="ml-4">{{activity.formattedDate}}</span>
    </div>
    <div class="noc-cam-coverage noc-cell" fxLayout="row" fxLayoutAlign="start center">
      <img [src]="'assets/images/activity/coverage-'+activity.summary?.coverage+'.png'">
    </div>
    <div fxFlex="" class="scard-title-summary" fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="33%" class="noc-cell" fxLayout="row" fxLayoutAlign="start center">
        <mat-chip *ngIf="activity.mfNode" class="noc-chip-xs noc-mf noc-summary-chip noc-type-chip" fxLayout="row"
          fxLayoutAlign="start center" matTooltip="{{activity.summary['mf'].tooltip}}" [matTooltipPosition]="'below'"
          [matTooltipShowDelay]="1000">
          <div class="noc-icon noc-icon-initials">
            {{activity.summary['mf'].shorthand}}
          </div>
          <div fxFlex="" class="noc-chip-label">
            <span>
              {{activity.mfNode.term?.label}}
            </span>
          </div>
        </mat-chip>
      </div>
      <div fxFlex="33%" class="noc-cell" fxLayout="row" fxLayoutAlign="start center">
        <mat-chip *ngIf="activity.bpNode" class="noc-chip-xs noc-bp noc-summary-chip noc-type-chip" fxLayout="row"
          fxLayoutAlign="start center" matTooltip="{{activity.summary['bp'].tooltip}}" [matTooltipPosition]="'below'"
          [matTooltipShowDelay]="1000">
          <div class="noc-icon noc-icon-initials">
            {{activity.summary['bp'].shorthand}}
          </div>
          <div fxFlex="" class="noc-chip-label">
            <span>
              {{activity.bpNode.term?.label}}
            </span>
          </div>
        </mat-chip>
      </div>
      <div fxFlex="33%" class="noc-cell" fxLayout="row" fxLayoutAlign="start center">
        <mat-chip *ngIf="activity.ccNode" class="noc-chip-xs noc-cc noc-summary-chip noc-type-chip" fxLayout="row"
          fxLayoutAlign="start center" matTooltip="{{activity.summary['cc'].tooltip}}" [matTooltipPosition]="'below'"
          [matTooltipShowDelay]="1000">
          <div class="noc-icon noc-icon-initials">
            {{activity.summary['cc'].shorthand}}
          </div>
          <div fxFlex="" class="noc-chip-label">
            <span>
              {{activity.ccNode.term?.label}}
            </span>
          </div>
        </mat-chip>
      </div>
    </div>
    <div *ngIf="activity.hasViolations" class="noc-error" fxLayout="row" fxLayoutAlign="start center">
      <mat-chip class="noc-error-chip noc-chip-xs ml-8" fxLayout="row" fxLayoutAlign="start center"
        (click)="displayActivityErrors(activity)">
        <div class="noc-icon">
          <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
        </div>
        <div fxFlex="" class="noc-chip-label">
          {{activity.violations?.length}} Errors Found
        </div>
      </mat-chip>
    </div>


    <div *ngIf="!options.reviewMode" class="" fxFlex="50px" fxLayout="row" fxLayoutAlign="end center">
      <!--     <button *ngIf="activity.activityType !==ActivityType.ccOnly" mat-stroked-button
        (click)="openActivityConnector(activity)" color="primary" class="noc-rounded-button noc-sm mr-8"
        matTooltip="connect activity causal relation" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
        <small>Connect</small>
      </button>
      <button mat-stroked-button (click)="openActivityForm(activity)" color="primary"
        class="noc-rounded-button noc-sm mr-8">
        <small>Edit</small>
      </button> -->
      <button mat-icon-button class="noc-rounded-button noc-sm" fxFlex="40px" color="primary"
        [matMenuTriggerFor]="connectionOptionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #connectionOptionMenu="matMenu" class="noc-dropdown-menu">
        <h6 class="noc-menu-heading"> Danger Zone</h6>
        <button mat-menu-item class="" (click)="deleteActivity(activity)">
          Delete Activity
        </button>
      </mat-menu>

    </div>
  </div>
  <div *ngIf="activity.expanded" class="noc-tree-container">
    <div class="noctua-form-table noc-activity-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="!options.slimViewer" class="noc-cell noc-relation-cell">
        Relationship
      </div>
      <div class="noc-cell noc-term-cell" fxFlex="">
        Term
      </div>
      <div class="noc-cell noc-aspect-cell">
        Asp
      </div>
      <div class="noc-cell noc-extension-cell">
        Ext
      </div>
      <div class="noc-evidence-cell" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-cell noc-evidence-code-cell" fxFlex="">
          Evidence
        </div>
        <div class="noc-cell noc-reference-cell">
          Reference
        </div>
        <div class="noc-cell noc-with-cell">
          With
        </div>
        <div class="noc-cell noc-group-cell">
          Assigned By
        </div>
        <div class="noc-cell noc-contributor-cell">
          Contributor
        </div>
      </div>
      <div class="noc-cell noc-comments-cell">

      </div>
      <div *ngIf="noctuaUserService.user && options.showMenu" class="noc-cell noc-action-cell"> </div>
    </div>
    <div class="noc-tree">
      <tree-root #tree (initialized)="onTreeLoad()" [nodes]="treeNodes" [options]="treeOptions">
        <ng-template #treeNodeWrapperTemplate let-node let-index="index">
          <div class="node-wrapper noc-tree-node" fxLayout="row" fxLayoutAlign="start center"
            [style.padding-left]="node.getNodePadding()">
            <button mat-icon-button class="noc-node-expander-button" color="primary" (click)="node.toggleExpanded()"
              *ngIf="node.hasChildren">
              <fa-icon *ngIf="node?.isCollapsed" [icon]="['fas', 'caret-right']"></fa-icon>
              <fa-icon *ngIf="node?.isExpanded" [icon]="['fas', 'caret-down']"></fa-icon>
            </button>
            <div class="noc-expander-placeholder" *ngIf="!node.hasChildren">
            </div>
            <div class="node-content-wrapper" fxFlex="" fxLayout="row" fxLayoutAlign="start center"
              [class.node-content-wrapper-active]="node.isActive" [class.node-content-wrapper-focused]="node.isFocused"
              (click)="node.mouseAction('click', $event)" (dblclick)="node.mouseAction('dblClick', $event)"
              (contextmenu)="node.mouseAction('contextMenu', $event)" (treeDrop)="node.onDrop($event)"
              [treeAllowDrop]="node.allowDrop" [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">

              <div class="noc-annotation-row" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
                <div *ngIf="options.slimViewer" class="noc-cell-label" fxLayout="row" fxLayoutAlign="start center">
                  {{node.data.node?.predicate?.edge?.label}}
                  <noctua-inline-editor
                    *ngIf="noctuaUserService.user && node.data.node.relationEditable && options.editableRelation"
                    [cam]="cam" [activity]='activity' [entity]="node.data.node" [category]="EditorCategory.relationship"
                    class="noc-edit-button ml-12">
                  </noctua-inline-editor>
                </div>
                <noc-activity-tree-node [options]="options" [cam]="cam" [activity]="activity" [entity]="node.data.node"
                  class="w-100-p">
                </noc-activity-tree-node>
              </div>
            </div>
          </div>
        </ng-template>
      </tree-root>
    </div>
  </div>
</div>