<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">

  <div *ngIf="false" class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.camGraph}"
      (click)="openGraph()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
    </button>
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.camTable}"
      (click)="openTable()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'table']"></fa-icon>
    </button>
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.camTable}"
      (click)="openTable()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
    </button>
  </div>
  <div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
    <div *ngIf="!noctuaUserService.user" class="noc-not-loggedin" fxLayout="row" fxLayoutAlign="center center">
      Not Logged In: You can only view existing annotations
    </div>
    <noc-cam-toolbar [cam]="cam" [options]="camToolbarOptions"></noc-cam-toolbar>
    <mat-drawer-container class="h-100-p" fxFlex="" fxLayout="row" fxLayoutAlign="start start" [hasBackdrop]="false"
      autosize>
      <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start" opened>
        <div [ngSwitch]="noctuaCommonMenuService.selectedLeftPanel" class="h-100-p">
          <noc-cam-form [panelDrawer]="leftDrawer" *ngSwitchCase="LeftPanel.camForm">
          </noc-cam-form>
          <noc-activity-form [panelDrawer]="leftDrawer" *ngSwitchCase="LeftPanel.activityForm">
          </noc-activity-form>
          <noc-copy-model [panelDrawer]="leftDrawer" [panelSide]="'left'" *ngSwitchCase="LeftPanel.copyModel">
          </noc-copy-model>
        </div>
      </mat-drawer>
      <mat-drawer-content class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <div [ngSwitch]="noctuaCommonMenuService.selectedMiddlePanel" class="w-100-p h-100-p" noctuaPerfectScrollbar>
          <noc-cam-table *ngSwitchCase="MiddlePanel.camTable" [cam]="cam" [options]="noctuaFormOptions"></noc-cam-table>
          <noc-cam-graph *ngSwitchCase="MiddlePanel.camGraph" [cam]="cam"></noc-cam-graph>
        </div>
      </mat-drawer-content>
      <mat-drawer #rightDrawer class="noc-right-drawer" mode="over" position="end">
        <div [ngSwitch]="noctuaCommonMenuService.selectedRightPanel" class="h-100-p" #scrollbarRef
          [perfectScrollbar]="scrollbarConfig">
          <noc-cam-table [ngStyle]="{width:tableWidth}" [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.camTable"
            [cam]="cam" [options]="tableOptions"></noc-cam-table>

          <noc-graph-activity-table [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.activityTable"
            [options]="tableOptions" [cam]="cam">
          </noc-graph-activity-table>

          <noc-activity-connector-table [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.activityConnectorTable"
            [cam]="cam">
          </noc-activity-connector-table>

          <noc-graph-settings [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.graphSettings">
          </noc-graph-settings>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>