@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";
@import "src/@noctua.common/scss/noctua-form.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  padding: 0px;
  width: 100%;

  mat-chip {
    &.default {
      border: $noc-mf solid 2px;
    }

    &.bpOnly {
      border: $noc-bp solid 2px;
    }

    &.ccOnly {
      border: $noc-cc solid 2px;
    }

    &.noc-extension {
      border: #9bb1b6 solid 2px;
      @include deep-height(20px);
      font-size: 8px;
      padding: 2px;
      text-align: center;
    }

    &.noc-error-chip {
      font-size: 10px;
      font-weight: normal;
      @include deep-height(25px);
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0;

      .noc-chip-label {
        padding: 0 8px 0 8px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .noc-icon-action {
          font-size: 10px;
          background-color: transparent;

          &:hover {
            font-size: 14px;
            color: #222;
          }
        }
      }

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }
      }

      @include noc-chip-color(#e28989);
    }
  }

  .noc-group-side-heading {
    @include deep-width(25px);
    @include deep-height(100%);
    background-color: #ddd;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  .noc-activity-node {
    // position: relative;
    //  flex: 1 1 auto;
    border-bottom: 1px solid #ccc;

    .noc-entity-cell {
      display: flex;
      align-items: center;

      //display: inline-block !important;
      padding: 8px 5px;
      font-size: 12px;
      color: #000;
      border-right: #aaa solid 1px;
      position: relative;
      overflow-wrap: break-word;

      &.noc-aspect-cell {
        mat-chip {
          text-align: center;
          @include deep-height(20px);
          font-size: 10px;
          font-weight: bold;
          padding: 2px;
          &.F {
            border: $noc-mf solid 1px;
            color: darken($noc-mf, 10%);
          }

          &.P {
            border: $noc-bp solid 1px;
            color: darken($noc-bp, 10%);
          }

          &.C {
            border: $noc-cc solid 1px;
            color: darken($noc-cc, 10%);
          }
        }
      }

      &.noc-relation-cell {
        font-size: 10px;
      }

      &.noc-extension-cell {
        font-size: 10px;
      }

      .noc-edit-button {
        //: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .noc-delete-button {
        //visibility: hidden;
        @include deep-height(20px);
        @include deep-width(20px);
        position: absolute;
        top: 0;
        right: 0;

        line-height: 15px;
        color: #ee7979;
        border-radius: 0;

        &:hover {
          background-color: #ee7979;
          color: #fff;
        }
      }

      &:hover {
        border: map-get($primary, default) solid 1px;

        .noc-cell-floating-title {
          color: map-get($primary, default);
        }

        .noc-edit-button,
        .noc-delete-button {
          visibility: visible;
        }
      }

      &.noc-highlight-match {
        background-color: #fffcd8;
      }

      &.noc-highlight-modified {
        background-color: #fdd661;
      }

      &.noc-highlight-modified-user {
        background-color: #f3ccbb;
      }

      &.noc-highlight-match-current {
        border: #ac6219 solid 5px;
      }

      .noc-old-term {
        color: #777;
        font-size: 10px;
        text-decoration: line-through rgba(#ec6868, 0.5);
      }
    }

    /* .mat-header-cell {
      display:flex;
      justify-content:flex-end;
     } */

    &.noc-selected {
      table {
        background-color: rgba($noc-highlight-model-color, 0.3);
      }
    }
  }
}
