<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Species</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="noc-expansion-panel-body">
    <div *ngFor="let organism of organisms" (click)="selectOrganism(organism)" class="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-organism-row" fxLayout="row" fxLayoutAlign="start center">
        <div>
          {{ organism.name }}
        </div>
        <span fxFlex></span>
        <mat-icon class="s-24">
          chevron_right
        </mat-icon>
      </div>
    </div>
  </div>

</div>
