@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";



.node {
  position: absolute;
  width: 200px;
  height: 80px;
  padding: 12px 0 12px 12px;
  //box-shadow: 0 1px 40px 0 #B0C1D9;
  @include mat-elevation(2);
  text-align: center;
  z-index: 4;
  border: 1px solid #2e6f9a;
  border-radius: 0px;
  opacity: 0.8;
  cursor: move;
  background-color: white;
  font-size: 11px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;

  &:hover {
    background-color: #5c96bc;
    color: white;
  }

  .noc-node-conntent {
    overflow: hidden;
  }

  .noc-node-actions {
    border-right: #BBB solid 1px;

    .button {
      @include deep-height(35px);
      @include deep-width(35px);
    }
  }

  .noc-connector {
    // position: absolute;
    //   bottom: 37%;
    //  right: 5px;
    //   background-color: orange;
    height: 35px;
    width: 35px;
    cursor: pointer;
    //   box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;

    mat-icon {
      pointer-events: none;
    }
  }
}
