@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$grid-line-color: rgba(#000, 0.1);

:host {
  width: 100%;
  height: 100%;

  .noc-graph-holder {
    background-size: 10px 10px;
    background-image: linear-gradient(to right, $grid-line-color 1px, transparent 1px), linear-gradient(to bottom, $grid-line-color 1px, transparent 1px);
  }

  .noc-node {
    // padding: 4px;
    height: 80px;
    width: 180px;
    display: block;
    padding: 4px 0 4px 4px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    @include mat-elevation(2);
    //text-align: center;
    z-index: 4;
    border: 1px solid #2e6f9a;
    border-radius: 0px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 10px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;

    &:hover {
      background-color: #5c96bc;
      color: white;
    }

    .noc-node-conntent {
      overflow: hidden;
    }

    .noc-node-actions {
      border-right: #BBB solid 1px;

      .button {
        @include deep-height(35px);
        @include deep-width(35px);
      }
    }

    .noc-connector {
      // position: absolute;
      //   bottom: 37%;
      //  right: 5px;
      //   background-color: orange;
      height: 35px;
      width: 35px;
      cursor: pointer;
      //   box-shadow: 0 0 2px black;
      -webkit-transition: -webkit-box-shadow 0.25s ease-in;
      -moz-transition: -moz-box-shadow 0.25s ease-in;
      transition: box-shadow 0.25s ease-in;

      mat-icon {
        pointer-events: none;
      }
    }

    &.noc-sm {
      height: 50px;
      width: 120px;
      display: block;
      padding: 12px 0 12px 12px;
      //box-shadow: 0 1px 40px 0 #B0C1D9;
      @include mat-elevation(1);
      background-color: #DDD;
    }
  }

  .linkMidpoint {
    ellipse {
      fill: white;
      stroke: black;
      stroke-width: 1;
    }

    text {
      stroke: transparent;
      fill: black;
      text-anchor: middle;
      font-size: 10px;
    }
  }
}
