@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  @include deep-width(100%);
  @include deep-height(100%);

  .noc-drawer {
    @include deep-width(300px);
  }

  background-color: white;

  .noc-checkbox {
    font-size: 12px;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    //min-height: 30px;
    //  max-width: 200px;
    // text-overflow: ellipsis;
    //  white-space: nowrap;
  }

  .noc-evidence-db-trigger {
    @include deep-height(20px);
    @include deep-width(20px);
    line-height: 20px;

    mat-icon {
      @include noc-icon-size(18px);
    }
  }

  .noc-filter-form {
    padding-bottom: 200px;

    .noc-form-section {
      width: 100%;
      background-color: #fff;

      .noc-section-header {
        padding-right: 12px;
        height: 30px;
        background-color: $noc-primary-color-light;

        .noc-section-heading {
          padding-left: 8px;
          font-size: 12px;
          line-height: 40px;
          color: #555;
        }

        .noc-action-button {
          margin: 0px;
          height: 40px; // line-height: 36px;
        }
      }

      .noc-section-body {
        padding: 16px 8px 0 8px;

        .noc-activity-group-row {
          margin-bottom: 8px;
        }
      }
    }
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.noc-form-chip {
      padding: 0;
      @include deep-height(20px);
      font-size: 10px;

      .noc-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      @include noc-chip-color(#bbc9cc);
    }
  }

  input[type="file"] {
    display: none;
  }

  button {
    @include deep-height(35px);

    &.noc-file-button {
      pointer-events: none;
    }
  }

  label {
    padding: 0;
  }

  .noc-file-upload-title {
    margin-left: 4px;
    color: #888;
    font-weight: bold;
  }
}
