<form fxLayout="column" fxLayoutAlign="start stretch" name="filterForm" [formGroup]="filterForm"
  class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Filter By</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body noc-annoton-form" noctuaPerfectScrollbar>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By Contributor
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #contributorChipList>
              <mat-chip *ngFor="let contributor of noctuaSearchService.searchCriteria.contributors" [selectable]="true"
                [removable]="true" (removed)="remove(contributor, noctuaSearchService.filterType.contributors)">
                {{contributor.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="contributors" placeholder="Add Contributor Filter"
                [matAutocomplete]="contributorAuto" #contributorInput [matChipInputFor]="contributorChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #contributorAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.contributors)"
              [displayWith]="contributorDisplayFn" class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of filteredContributors | async"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.name }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.orcid }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By Group
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #groupChipList>
              <mat-chip *ngFor="let group of noctuaSearchService.searchCriteria.groups" [selectable]="true"
                [removable]="true" (removed)="remove(group, noctuaSearchService.filterType.groups)">
                {{group.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="groups" placeholder="Add Group Filter" [matAutocomplete]="groupAuto" #groupInput
                [matChipInputFor]="groupChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #groupAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.groups)" [displayWith]="groupDisplayFn"
              class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of filteredGroups | async" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.name }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.url }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--   <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By Species
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-organism-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #organismChipList>
              <mat-chip *ngFor="let organism of noctuaSearchService.searchCriteria.organisms" [selectable]="true"
                [removable]="true" (removed)="remove(organism, noctuaSearchService.filterType.organisms)">
                {{organism.taxonName}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="organisms" placeholder="Add Organism Filter" [matAutocomplete]="organismAuto"
                #organismInput [matChipInputFor]="organismChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #organismAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.organisms)"
              [displayWith]="organismDisplayFn" class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of filteredOrganisms | async" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.taxonName }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.taxonId }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div> -->
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By GO Term
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #gotermChipList>
              <mat-chip *ngFor="let goterm of noctuaSearchService.searchCriteria.goterms" [selectable]="true"
                [removable]="true" (removed)="remove(goterm, noctuaSearchService.filterType.goterms)">
                {{goterm.label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="goterms" placeholder="Add GO Term Filter" [matAutocomplete]="gotermAuto"
                #gotermInput [matChipInputFor]="gotermChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #gotermAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.goterms)" [displayWith]="termDisplayFn"
              class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of searchFormData['goterm']?.searchResults"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By Gene Product
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #gpChipList>
              <mat-chip *ngFor="let gp of noctuaSearchService.searchCriteria.gps" [selectable]="true" [removable]="true"
                (removed)="remove(gp, noctuaSearchService.filterType.gps)">
                {{gp.label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="gps" placeholder="Add GP Filter" [matAutocomplete]="gpAuto" #gpInput
                [matChipInputFor]="gpChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #gpAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.gps)" [displayWith]="termDisplayFn"
              class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of searchFormData['gp']?.searchResults"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By PMID
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #pmidChipList>
              <mat-chip *ngFor="let pmid of noctuaSearchService.searchCriteria.pmids" [selectable]="true"
                [removable]="true" (removed)="remove(pmid, noctuaSearchService.filterType.pmids)">
                {{pmid}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="pmids" placeholder="Add PMID Filter" #pmidInput [matChipInputFor]="pmidChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="add($event, noctuaSearchService.filterType.pmids)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By Title
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #titleChipList>
              <mat-chip *ngFor="let title of noctuaSearchService.searchCriteria.titles" [selectable]="true"
                [removable]="true" (removed)="remove(title, noctuaSearchService.filterType.titles)">
                {{title}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="titles" placeholder="Add Title Filter" #titleInput
                [matChipInputFor]="titleChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="add($event, noctuaSearchService.filterType.titles)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Filter By State
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-state-row" fxLayout="column">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-chip-list #stateChipList>
              <mat-chip *ngFor="let state of noctuaSearchService.searchCriteria.states" [selectable]="true"
                [removable]="true" (removed)="remove(state, noctuaSearchService.filterType.states)">
                {{state.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input formControlName="states" placeholder="Add State Filter" [matAutocomplete]="stateAuto" #stateInput
                [matChipInputFor]="stateChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #stateAuto="matAutocomplete"
              (optionSelected)="selected($event, noctuaSearchService.filterType.states)" [displayWith]="stateDisplayFn"
              class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of filteredStates | async" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <label for="noc-upload-filter" fxLayout="row" fxLayoutAlign="start center" class="noc-file-upload">
      <button mat-icon-button class="noc-file-button">
        <mat-icon class="s-16 mr-4">cloud_upload</mat-icon>
      </button>
    </label>
    <input type="file" id="noc-upload-filter" (change)="onFileChange($event)" class="noc-file-upload" />
    <span fxFlex></span>
    <button (click)="downloadFilter()" type="button" mat-icon-button>
      <mat-icon class="s-16 mr-4">cloud_download</mat-icon>
    </button>
    <button (click)="clear()" type="button" mat-raised-button>Clear</button>
  </div>
</form>
