@use '@angular/material' as mat;
@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;

  .noc-summary-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 101px;
    margin-bottom: 4px;
    padding: 0 10px 0 20px;
    @include deep-height(40px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #fff;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat.elevation(2);

    .noc-art-tools {
      //background-color: ;
      margin-right: 16px;
    }

    .noc-pagesize-select {
      width: 50px;
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: #bbb solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .noc-stats-results {
    padding: 20px 10px 300px 10px;

    .noc-stat-summary {
      padding: 12px 0;
      font-size: 16px;

      .noc-number {
        font-weight: bold;
      }
    }
  }

  .noc-summary-table {
    @include deep-width(400px);

    .noc-column-flex {
      min-width: 150px !important;
    }

    .mat-cell {
      padding: 0 5px;
      font-size: 12px !important;
      color: #000;
      border-right: #aaa solid 1px;
      position: relative;
      overflow-wrap: break-word;

      .noc-edit-button {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      //color: #0F0; // map-get($primary, default);
      font-weight: bold;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }

    .mat-header-row {
      @include deep-height(30px);
      border-bottom: $noc-primary-color-light solid 1px;
    }
  }
}
