<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Curators</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch" class="noc-search-form">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groups" fxLayout="column" fxLayoutAlign="start stretch" class="agb-comparison-expansion agb-passed"
        [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
              <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
              </mat-icon>
              <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                signal_cellular_4_bar
              </mat-icon>
            </div>
            <div class="" fxLayout="column" fxLayoutAlign="start stretch">
              <div class="agb-title">
                {{ group.name }}
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="agb-expansion-panel-body">
          <div *ngFor="let curator of group.members" class="" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="noc-group-row" fxLayout="row" fxLayoutAlign="start center">
              <div>
                {{ curator.orcid }}
              </div>
              <span fxFlex></span>
              {{ curator.cams }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
