<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Curators</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch" class="mt-8 noc-search-form" noctuaPerfectScrollbar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groups" fxLayout="column" fxLayoutAlign="start stretch" class="noc-group-expansion">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
            <!--
            <div class="noc-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
              <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
              </mat-icon>
              <mat-icon *ngIf="" class="mat-icon-rtl-mirror s-24">
                signal_cellular_4_bar
              </mat-icon>
            </div>
          -->
            <div class="" fxLayout="column" fxLayoutAlign="start stretch">
              <div class="noc-title">
                {{ group.name }}
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="noc-expansion-panel-body">
          <div *ngFor="let curator of group.curators" (click)="selectCurator(curator)" class="" fxLayout="column"
            fxLayoutAlign="start stretch">
            <div class="noc-curator-row" fxLayout="row" fxLayoutAlign="start center">
              <div>
                {{ curator.name }}
              </div>
              <span fxFlex></span>
              <div class="noc-cams-number">
                {{ curator.cams }}
              </div>
              <mat-icon class="s-24">
                chevron_right
              </mat-icon>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
