$grid-line-color: rgba(#000, 0.1);

#cam-canvas {
  position: relative;
  height: 100%;
  background-color: #F2F2F2;
  overflow: auto;

  // -webkit-transform: scale(0.75);
  // -moz-transform: scale(0.75);
  // -ms-transform: scale(0.75);
  // -o-transform: scale(0.75);
  // transform: scale(0.75);

  background-size: 10px 10px;
  background-image: linear-gradient(to right, $grid-line-color 1px, transparent 1px), linear-gradient(to bottom, $grid-line-color 1px, transparent 1px);


  .noc-context-menu {
    background-color: #FFF;
  }

  .aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
  }

  .aLabel.jtk-hover,
  .jtk-source-hover,
  .jtk-target-hover {
    background-color: #1e8151;
    color: white;
  }

  .aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
  }



  .ep:hover {
    box-shadow: 0 0 6px black;
  }

  .statemachine-demo .jtk-endpoint {
    z-index: 3;
  }

  #opened {
    left: 10em;
    top: 5em;
  }

  #phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
  }

  #inperson {
    left: 12em;
    top: 23em;
  }

  #phone2 {
    left: 28em;
    top: 24em;
  }

  #rejected {
    left: 10em;
    top: 35em;
  }

  .dragHover {
    border: 2px solid orange;
  }

  path,
  .jtk-endpoint {
    cursor: pointer;
  }
}
