<div class="agb-species-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">

  <div class="cams-table" fxLayout="column" fxLayoutAlign="start stretch">
    <p-treeTable [value]="cams" [columns]="cols">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        {{rowData | json}}
        <tr>
          <td *ngFor="let col of columns; let i = index">


            <!--  
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
            {{rowData[col.field]}}  -->

            {{rowData | json}}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
