@import '~@swimlane/ngx-datatable/release/themes/material';
@import '~perfect-scrollbar/css/perfect-scrollbar';
@import "noctua";
@include mat-core();
@include angular-material-typography($typography);
@include angular-material-theme($theme);
@import "partials/reset";
@import "partials/normalize";
@import "partials/scrollbars";
@import "partials/helpers";
@import "partials/global";
@import "partials/icons";
@import "partials/colors";
@import "partials/material";
@import "partials/angular-material-fix";
@import "partials/typography";
@import "partials/borders";
@import "partials/buttons";
@import "partials/cards";
@import "partials/forms";
@import "partials/toolbar";
@import "partials/print";
@import "partials/plugins/plugins";
