@import "theming";
@import "mixins/breakpoints";
$noc-primary-color: #039be5;
$noc-secondary-color: #995014;

.navbar {
  display: none !important;
  visibility: hidden
}

textarea {
  resize: none;
  overflow: hidden;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  &.noc-sm {
    .mat-form-field-wrapper {
      font-size: 12px;
    }
  }
}

@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

@mixin noc-icon-size($number) {
  font-size: $number;
  @include deep-width($number);
  @include deep-height($number);
}

.noc-dropdown-menu {
  .noc-menu-heading {
    margin: 0;
    padding: 10px 14px;
    background-color: #E2E2E2;
  }

  .noc-item {
    @include deep-height(30px);
    margin: 0;
    padding: 10px 14px;
  }
}

.noc-paginator {
  overflow: hidden;
  @include deep-height(40px);
  background-color: #DDD;

  .mat-paginator-container {
    @include deep-height(40px !important);
  }
}

input[type=text] {
  &.noc-textbox-legacy {
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }
}

.noc-button-border {
  border: 1px solid #bbb;
  height: 36px;
  line-height: 36px;
  @include deep-width(36px);
  border-radius: 0;
  background-color: #F2F2F2;
}

.noc-truncate {
  display: block;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noc-page-container {
  width: 100%;
  padding: 20px;
}

.noc-container {
  position: relative;
  width: 1100px;

  .noc-full-w {
    width: 100% !important;
  }
}

.noc-breadcrumbs {
  .noc-breadcrumb {
    font-size: 20px;
    color: #777;

    button {
      font-size: 20px;
      color: #999;
      padding-left: 8px;
      padding-right: 8px;
    }

    &.noc-active {
      color: #000;
    }
  }

  mat-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}
