@import "theming";
@import "mixins/breakpoints";
$noc-primary-color: #039be5;
$noc-secondary-color: #995014;
@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

.noc-truncate {
  display: block;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noc-page-container {
  width: 100%;
  padding: 20px;
}

.noc-container {
  position: relative;
  width: 1100px;
  .noc-full-w {
    width: 100% !important;
  }
}

.noc-breadcrumbs {
  .noc-breadcrumb {
    font-size: 20px;
    color: #777;
    button {
      font-size: 20px;
      color: #999;
      padding-left: 8px;
      padding-right: 8px;
    }
    &.noc-active {
      color: #000;
    }
  }
  md-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}
