@media all {
  .page-break-after,
  .page-break-before {
    display: none;
  }
}

@media print {
  html,
  body {
    height: auto !important;
    overflow: initial !important;
  }
  .page-break-after {
    display: block;
    page-break-after: always;
    position: relative;
  }
  .page-break-before {
    display: block;
    page-break-before: always;
    position: relative;
  }
  app {
    noctua-toolbar,
    noctua-theme-options,
    .ps>.ps__rail-x,
    .ps>.ps__rail-y {
      display: none !important;
    }
    .ps {
      overflow: visible !important;
    }
    .mat-drawer-container,
    .mat-sidenav-container {
      background-color: white !important;
      .mat-drawer-content,
      .mat-sidenav-content {
        overflow: initial !important;
        height: auto !important
      }
    }
  }
}
