@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

.cam-relationship {
  margin: 10px 2px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.noc-cam-header {
  padding: 0 12px;
  @include deep-height(50px);
  background-color: #FFF;
  @include mat-elevation(1);

  .noc-cam-header-title {
    font-size: 12px;
    font-weight: bold;
  }
}
