<form name="connectorFormGroup" [formGroup]="connectorFormGroup" fxLayout="column" fxLayoutAlign="start stretch"
  class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Causal Relation Form</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body" fxLayout="column" fxLayoutAlign="start start" noctuaPerfectScrollbar>
    <div *ngIf="connectorFormGroup" class="noc-connector-form">
      <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section w-100-p">
        <!--   <div class="noc-section-body w-100-p p-0" fxLayout="column" fxLayoutAlign="start center">
          <noc-graph-preview [nodes]="connectorActivity?.graphPreview.nodes"
            [edges]="connectorActivity?.graphPreview.edges" class="noc-graph-preview"></noc-graph-preview>
        </div> -->
        <div *ngIf="!connectorActivity?.rule.relationship?.id" class="alert alert-warning w-100-p">
          This relation is not supported, please choose a new relation below <br>
          (<strong>{{currentConnectorActivity?.predicate?.edge.label}}</strong>)
        </div>
        <div class="noc-form-section p-0 w-100-p">
          <div class="px-8 noc-group-row" fxLayout="row" fxLayoutAlign="start center">
            <div class="noc-title">
              <p>Relationship</p>
            </div>
            <mat-radio-group fxFlex="" formControlName="relationship" fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let relationship of relationshipOptions" class="noc-radio-row" fxLayout="row"
                fxLayoutAlign="start center">
                <mat-radio-button class="noc-radio-button-rounded noc-label"
                  [checked]="relationship.id === connectorActivity?.rule.relationship?.id" [value]="relationship">
                  {{relationship.label}}
                </mat-radio-button>
                <div *ngIf="relationship.description" fxFlex="" class="noc-hint">
                  {{relationship.description}}
                </div>
              </div>
            </mat-radio-group>
          </div>
          <div *ngIf="connectorActivity?.rule.displaySection.effectDirection" class="px-8 noc-group-row" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="noc-title">
              <p>Effect Direction</p>
            </div>
            <mat-radio-group formControlName="effectDirection" fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let effectDirection of noctuaFormConfigService.effectDirection.options" class="noc-radio-row"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-radio-button class="noc-radio-button-rounded noc-label" [value]="effectDirection"
                  [checked]="effectDirection.id === connectorActivity?.rule.effectDirection?.id">
                  {{effectDirection.label}}
                </mat-radio-button>
              </div>
            </mat-radio-group>
            <div fxFlex="" fxLayout="column" fxLayoutAlign="center start">
              <div class="noc-hint noc-sm">
                The mechanism regulation should be known, so it should be possible to pick the direction of the
                regulation.
              </div>
            </div>
          </div>
          <div *ngIf="connectorActivity?.rule.displaySection.directness" class="px-8 noc-group-row" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="noc-title">
              <p>Directness </p>
            </div>
            <mat-radio-group fxFlex="" formControlName="directness" fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let directness of noctuaFormConfigService.directness.options" class="noc-radio-row"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-radio-button class="noc-radio-button-rounded noc-label" [value]="directness"
                  [checked]="directness.id === connectorActivity?.rule.directness?.id">
                  {{directness.label}}
                </mat-radio-button>
                <div *ngIf="directness.description" fxFlex="" class="noc-hint">
                  {{directness.description}}
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="noc-section-header noc-bt" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Suggested Causal Relation
          </div>
        </div>
        <div class="noc-note mb-4" fxLayout="row" fxLayoutAlign="start center">
          <span class="noc-description">
            {{connectorActivity?.predicate.edge?.label}}
          </span>
        </div>
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Evidence
          </div>
        </div>
        <noc-evidence-form-table class="w-100-p" [settings]="settings" [options]="evidenceOptions" [cam]="cam"
          [activity]="connectorActivity" [entity]="connectorActivity.subjectNode">
        </noc-evidence-form-table>
        <!--
        <noc-activity-form-table-node [settings]="settings" [options]="evidenceOptions" [cam]="cam"
          [activity]="connectorActivity" [entity]="connectorActivity.subjectNode" class="w-100-p">
        </noc-activity-form-table-node>-->
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)='deleteConnectorEdge()' type="button" mat-raised-button color="warn" class="mr-8">Delete</button>
  </div>
</form>