<div class="dialog-content-wrapper noc-dialog">
  <mat-toolbar class="mat-primary m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Settings </span>
      <span fxFlex></span>
      <button mat-stroked-button (click)="cancel()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="noc-dialog-body noc-form-section" noctuaPerfectScrollbar>
    <form *ngIf="settingsForm" fxLayout="column" fxLayoutAlign="start stretch" name="settingsForm"
      [formGroup]="settingsForm">
      <h2>Columns</h2>
      <mat-checkbox formControlName="showEvidence" class="noc-checkbox" color="primary">Show Evidence
      </mat-checkbox>
      <mat-checkbox formControlName="showEvidenceCode" class="noc-checkbox" color="primary">Show Evidence Code
      </mat-checkbox>
      <mat-checkbox formControlName="showReference" class="noc-checkbox" color="primary">Show Reference
      </mat-checkbox>
      <mat-checkbox formControlName="showWith" class="noc-checkbox" color="primary">Show With/From
      </mat-checkbox>
      <mat-checkbox formControlName="showGroup" class="noc-checkbox" color="primary">Show Group
      </mat-checkbox>
      <mat-checkbox formControlName="showContributor" class="noc-checkbox" color="primary">Show Contributor
      </mat-checkbox>
    </form>
  </div>
  <div class="m-0 p-16 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>