<div class="w-100-p">
  <div class="noc-evidence-table-body w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start center">
    <div class="noc-qualifier" *ngIf="qualifier"><small>{{qualifier.id}}</small></div>
    <div class="evidence-table" fxFlex="">
      <mat-table class="w-100-p" #table [dataSource]="evidence" matSort [@animateStagger]="{value:'50'}"
        noctuaPerfectScrollbar>
        <ng-container cdkColumnDef="evidence">
          <mat-header-cell *cdkHeaderCellDef fxFlex="180px">Evidence</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="180px">
            <p class="">{{entity.evidence?.label}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="reference">
          <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Reference</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="120px">
            <p>{{entity.reference}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="with">
          <mat-header-cell *cdkHeaderCellDef fxFlex="130px">With</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="130px">
            <p class="">{{entity.with}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="assignedBy">
          <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Assigned By</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="120px">
            <p>{{entity.assignedBy}}</p>
          </mat-cell>
        </ng-container>
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let entity; columns: displayedColumns;" class="" matRipple></mat-row>
      </mat-table>
      <div *ngIf="evidence?.length===0" class="noc-no-info">
        no evidence present.
      </div>
    </div>
  </div>
</div>
