@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";



.node {
  position: absolute;
  width: 200px;
  height: 80px;
  padding: 4px;
  //box-shadow: 0 1px 40px 0 #B0C1D9;
  text-align: center;
  overflow: hidden;
}
