$noc-border-color: #BBB;

.noc-rounded-button {
  border-radius: 20px !important;
  @include deep-height(40px);
  line-height: 36px;
  font-size: 14px;
  font-weight: normal;

  &.noc-xxs {
    padding: 0 5px;
    @include deep-height(20px);
    line-height: 20px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: normal;
  }

  &.noc-xs {
    border-radius: 12px;
    @include deep-height(24px);
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
  }

  &.noc-sm {
    border-radius: 15px;
    @include deep-height(30px);
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
  }
}

.noc-half-button {
  &.noc-r {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-right: 2px;
  }

  &.noc-m {
    border-radius: 0 !important;
    margin-right: 2px;
  }

  &.noc-l {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
