$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

mat-radio-button {
  &.noc-radio-button-rounded {
    padding: 0 10px;
    @include deep-height(30px);
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    border: rgba(map-get($accent, default), 0.7) solid 1px;
    border-radius: 15px;

    &.mat-radio-checked {
      background-color: rgba(map-get($accent, default), 0.2);
      border-color: rgba(map-get($accent, default), 0.9);
    }

    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      height: 15px;
      width: 15px;
    }

    &.noc-xxs {
      padding: 0 5px;
      @include deep-height(20px);
      line-height: 20px;
      font-size: 10px;
      border-radius: 10px;
      font-weight: normal;
    }

    &.noc-xs {
      border-radius: 12px;
      @include deep-height(24px);
      line-height: 24px;
      font-size: 12px;
      font-weight: normal;
    }

    &.noc-sm {
      border-radius: 15px;
      @include deep-height(30px);
      line-height: 30px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.mat-autocomplete-panel {
  &.noc-term-autocomplete {
    background-color: #fbf9de;
    @include deep-width(500px !important);

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-term-id {
        font-size: 10px;
        //margin-right: 
      }

      .noc-term-label {
        font-size: 12px;
        //margin-right: 
      }

    }
  }
}

.mat-menu-panel {
  &.noc-evidence-db-menu {
    background-color: #fbf9de;
    @include deep-width(400px !important);

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-term-id {
        font-size: 10px;
        //margin-right: 
      }

      .noc-term-label {
        font-size: 12px;
        //margin-right: 
      }

    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
