$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

mat-radio-button {
  &.noc-radio-button-rounded {
    padding: 0 10px;
    @include deep-height(30px);
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    border: rgba(map-get($accent, default), 0.7) solid 1px;
    border-radius: 15px;

    &.mat-radio-checked {
      background-color: rgba(map-get($accent, default), 0.2);
      border-color: rgba(map-get($accent, default), 0.9);
    }

    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      height: 15px;
      width: 15px;
    }

    &.noc-xxs {
      padding: 0 5px;
      @include deep-height(20px);
      line-height: 20px;
      font-size: 10px;
      border-radius: 10px;
      font-weight: normal;
    }

    &.noc-xs {
      border-radius: 12px;
      @include deep-height(24px);
      line-height: 24px;
      font-size: 12px;
      font-weight: normal;
    }

    &.noc-sm {
      border-radius: 15px;
      @include deep-height(30px);
      line-height: 30px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.mat-menu-panel {
  &.noc-menu-panel {
    background-color: #d2e8f8;
    max-width: none !important;

    .mat-menu-item {
      //@include deep-height(25px !important);
      //max-width: 300px !important;
      font-size: 10px;

      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-terms-description {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }

  &.noc-extensions-menu-panel {
    background-color: #d2e8f8;
    max-width: none !important;

    .mat-menu-item {
      padding: 4px 12px;
      //@include deep-height(25px !important);
      //max-width: 300px !important;
      font-size: 10px;

      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 12px !important;
      white-space: normal !important;

      .noc-terms-description {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}

.mat-autocomplete-panel {
  &.noc-term-autocomplete {
    background-color: #fbf9de;
    @include deep-width(400px !important);

    &.scard-lg {
      @include deep-width(600px !important);
    }

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-term-id {
        font-size: 10px;
        //margin-right:
      }

      .noc-term-label {
        font-size: 12px;
        //margin-right:
      }

      .noc-term-detail-trigger {
        padding: 0 8px;
        @include deep-width(50px);
      }
    }

    .scard-more-info {
      @include deep-width(200px !important);
    }
  }
}

.mat-menu-panel {
  &.noc-evidence-db-menu {
    background-color: #fbf9de;
    @include deep-width(400px !important);

    .mat-option {
      padding: 5px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-term-id {
        font-size: 10px;
        //margin-right:
      }

      .noc-term-label {
        font-size: 12px;
        //margin-right:
      }
    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
