@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%; // display: block;

  background-color: white;
  @include mat-elevation(4);

  .noc-drawer {
    @include deep-width(300px);
  }

  .noc-header {
    @include deep-height(30px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;



    mat-icon-button {
      @include deep-height(30px);
      @include deep-width(30px);
      line-height: 30px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-group-expansion {
    width: 100%;

    mat-expansion-panel-header {
      padding: 0 20px 0 10px;
      @include deep-height(50px);
      border-bottom: #999 solid 1px;
      margin-bottom: 5px;

      .noc-comparison-toggle {
        @include deep-width(30px);
        @include deep-height(50px);
      }
    }

    .mat-expansion-panel-body {
      padding: 0 !important;
    }

    .noc-title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .noc-description {
      font-size: 12px
    }

    .noc-expansion-panel-body {
      //padding: 10px 0;
      @include deep-width(100%);
    }

  }


  .noc-contributor-row {
    padding: 0 10px;
    @include deep-height(50px);
    border-top: #CCC solid 1px;
    @include mat-elevation(1);
    font-size: 12px;


    .noc-name {
      font-size: 14px;
    }

    .noc-cams-number {
      padding: 2px 5px;
      @include deep-height(20px);
      background-color: #DDD;
      font-size: 10px;
      border-radius: 25%;
    }

    &:hover {
      background-color: #F2F2F2;
    }
  }

  .noc-search-form {
    .noc-form-section {
      width: 100%;
      background-color: #FFF;

      .noc-section-header {
        height: 30px;
        background-color: $noc-primary-color-light;

        .noc-section-heading {
          padding-left: 8px;
          font-size: 12px;
          line-height: 40px;
          color: #555;
        }

        .noc-action-button {
          margin: 0px;
          height: 40px; // line-height: 36px;
        }
      }

      .noc-section-body {
        padding: 5px 5px;
      }
    }

    .noc-term-group {
      // padding-bottom: 20px;
      margin-bottom: 3px;
      //  border-bottom: #CCC solid 1px;
      background-color: #FFF;

      .noc-group-heading {
        margin-bottom: 20px;
        height: 40px;
        font-weight: 500;
        font-size: 18px;
      }

      .noc-activity-group-row {
        &.noc-row-disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        &.noc-input-heading {
          margin-top: 10px;
        }
      }

      .noc-action-button {
        margin: 8px 0 0 0;
        background-color: #FAFAFA;
        width: 35px;
        height: 35px;

        mat-icon {
          @include noc-icon-size(14px);
          color: #AAA;
          line-height: 18px;
        }

        &:hover {
          background-color: #999;

          mat-icon {
            color: #222;
          }
        }
      }
    }
  }
}
