@use "@angular/material" as mat;
@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  //width: 100%; // display: block;

  background-color: white;
  @include mat.elevation(4);

  .noc-cam-form {
    @include deep-width(350px);
  }

  .noc-header {
    @include deep-height(40px);
    background-color: #eee;
    border-bottom: #ccc solid 1px;

    mat-icon-button {
      @include deep-height(40px);
      @include deep-width(40px);
      line-height: 40px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-item {
    @include deep-width(100%);
    font-size: 12px;

    .noc-title {
      font-weight: bold;
      margin-right: 8px;
      color: #999;
    }
  }
}
