<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-cam-form noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Workbenches</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
    <div *ngIf="noctuaUserService.user" class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Create Model In
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-create w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button (click)="createModel('noctua-form')" fxFlex="50"
            class="noc-rounded-button mr-4 noc-half-button noc-r">
            NOCTUA FORM
          </button>
          <button mat-raised-button (click)="createModel('graph-editor')" fxFlex="50"
            class="noc-rounded-button noc-half-button noc-l">
            GRAPH EDITOR
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="cam" class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Edit In
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="row" fxLayoutAlign="start center">
        <div class="p-8" fxFlex="50">
          <a class="w-100-p" [href]='cam?.model?.modelInfo?.noctuaFormUrl' target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-icon">
                <fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
              </div>
              <div fxFlex="" class="noc-chip-label">
                Noctua Form
              </div>
            </mat-chip>
          </a>
        </div>
        <div class="p-8" fxFlex="50">
          <a class="w-100-p" [href]='cam?.model?.modelInfo?.graphEditorUrl' target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-icon">
                <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
              </div>
              <div fxFlex="" class="noc-chip-label">
                Graph Editor
              </div>
            </mat-chip>
          </a>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="cam" class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Export As
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="row" fxLayoutAlign="start center">
        <div class="p-4" fxFlex="50">
          <a class="w-100-p" [href]='cam?.model?.modelInfo?.gpadUrl' target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="" class="noc-chip-label">
                GPAD
              </div>
            </mat-chip>
          </a>
        </div>
        <div class="p-4" fxFlex="50">
          <a class="w-100-p" [href]='cam?.model?.modelInfo?.owlUrl' target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="" class="noc-chip-label">
                OWL
              </div>
            </mat-chip>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="cam" class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Model Workbenches
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100-p p-4" *ngFor="let workbench of cam?.model?.modelInfo?.modelWorkbenches">
          <a class="w-100-p" href="{{workbench.url}}" target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="" class="noc-chip-label">
                {{workbench.label}}
              </div>
            </mat-chip>
          </a>
        </div>
      </div>
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Global Workbenches
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100-p p-4" *ngFor="let workbench of noctuaConfigService.globalUrl?.universalWorkbenches">
          <a class="w-100-p" href="{{workbench.url}}" target="_blank">
            <mat-chip class="noc-table-chip" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="" class="noc-chip-label">
                {{workbench.label}}
              </div>
            </mat-chip>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
