@use '@angular/material' as mat;
@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";
@import "src/@noctua.common/scss/noctua-form.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  padding: 0px;
  width: 100%;
  background-color: #ffffff;

  mat-chip {
    &.default {
      border: #cdf1d2 solid 2px;
    }

    &.bpOnly {
      border: #f8c6e5 solid 2px;
    }

    &.ccOnly {
      border: #d3b5f5 solid 2px;
    }

    &.noc-error-chip {
      font-size: 10px;
      font-weight: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0;

      .noc-chip-label {
        padding: 0 10px 0 10px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .noc-icon-action {
          font-size: 10px;
          background-color: transparent;

          &:hover {
            font-size: 14px;
            color: #222;
          }
        }
      }

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: #777;
        font-size: 10px;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }
      }

      @include noc-chip-color(#eb9797);
    }
  }

  .noc-cam-rebuild {
    color: rgb(149, 99, 57);
  }
  .noc-activity-header {
    padding-left: 40px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 1px;
    @include deep-width(100%);
    @include deep-height(30px);
    //min-height: 35px;
    //background-color: #fff;
    font-size: 14px;
    border-bottom: $noc-primary-color-light solid 1px;
  }

  .noc-gp {
    width: 250px;

    &.noc-highlight-match {
      background-color: #fffcd8;
    }

    &.noc-highlight-modified {
      background-color: #fdd661;
    }

    &.noc-highlight-modified-user {
      background-color: #f3ccbb;
    }

    &.noc-highlight-match-current {
      border: #ac6219 solid 5px;
    }

    .noc-old-term {
      color: #777;
      font-size: 10px;
      text-decoration: line-through rgba(#ec6868, 0.5);
    }
  }

  .noc-cam-table-body {
    position: relative;

    .noc-loading-container {
      background-color: rgba(#555, 0.4);
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1000;
    }
  }

  .noc-summary-bar {
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(30px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #555;
    overflow: hidden;

    @include mat.elevation(2);

    .noc-summary-bar-section {
      .noc-section-label {
        font-size: 12px;
        color: #555;
      }
    }
  }

  .noc-action-button {
    font-size: 10px;
    border: mat.get-color-from-palette($primary, 300) solid 1px;

    &.noc-icon {
      font-size: 14px;
    }
  }

  .noc-action-bar {
    padding: 10px 10px;
  }

  .noc-drawer-container {
    background-color: #ddd;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-selected {
    border: mat.get-color-from-palette($primary, 300) solid 5px;
    background-color: #ffffff;

    .noc-activities-table-body {
      &::before {
        left: 37px;
        width: 5px;
        background-color: darken($noc-highlight-model-color, 15%);
        content: "";
      }
    }
  }

  .noc-activities-table-body {
    position: relative;
    background-color: #fff;

    &::before {
      position: absolute;
      top: 0;
      left: 37px;
      bottom: 0;
      width: 2px;
      color: white;
      background-color: $noc-tree-line-color;
      content: "";
    }
  }

  .noc-form-container {
    background-color: #eee;
    padding: 20px 10px;
  }

  .noc-cam-table {
    width: 100%;
    @include deep-height(100%);
    padding-bottom: 300px;
    // position: relative;
    //  flex: 1 1 auto;
    //    border-bottom: 1px solid rgba(0, 0, 0, .12);
    //  overflow: auto;

    .noc-cams-table-header {
      padding: 0;
      margin-bottom: 5px;
      @include deep-height(50px);
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
      background-color: #f7f7f7;
      //  @include mat-elevation(1);
      //  background-color: $noc-primary-color-light;
      // font-size: 3px !important;
    }

    .cam {
      position: relative;
      cursor: pointer;
      min-height: 40px;
      font-size: 12px;
    }

    .mat-cell {
      // min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    /* .mat-header-cell {
      display:flex;
      justify-content:flex-end;
     } */
  }

  .noc-left-drawer {
    @include deep-height(100%);
    background-color: #fff;
    border-right: #bbb solid 1px;
    @include mat.elevation(4);
  }

  .noc-right-drawer {
    @include deep-height(100%);
    background-color: #fff;
    border-left: #bbb solid 1px;
  }
}
