<div class="w-100-p p-8 cams-table" noctuaPerfectScrollbar>
  <div *ngFor="let annoton of cam.annotons" class="mat-elevation-z2 mb-16 w-100-p">
    <div class="noc-cam-table-heading" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="50px" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="toggleExpand(annoton)" class="noc-br">
          <mat-icon *ngIf="!annoton.expanded" class="s-16 fa fa-caret-right">
          </mat-icon>
          <mat-icon *ngIf="annoton.expanded" class="s-12 mat-icon-rtl-mirror">
            signal_cellular_4_bar
          </mat-icon>
        </button>
      </div>
      <div class="" fxFlex="30%">
        <div class="text-truncate">
          <small>GP: </small> {{annoton?.presentation.gpText}}
        </div>
      </div>
      <div class="" fxFlex="20%">
        <div class="text-truncate">
          <small>MF: </small> {{annoton?.presentation.mfText}}
        </div>
      </div>
      <span fxFlex=""></span>
      <div class="" fxFlex="150px" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="openCamForm(annoton)" class="noc-bl">
          <mat-icon class=""> edit </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="connectorMenu" class="noc-bl" matTooltip="connect"
          [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
        <mat-menu #connectorMenu="matMenu">
          <button mat-menu-item *ngFor="let connector of cam?.annotons" (click)="openCamConnector(annoton, connector)">
            {{connector.presentation.gpText}}
          </button>
        </mat-menu>
        <button mat-icon-button (click)="toggleExpand(annoton)" class="noc-bl">
          <mat-icon *ngIf="!annoton.expanded" class="">
            keyboard_arrow_down
          </mat-icon>
          <mat-icon *ngIf="annoton.expanded" class="">
            keyboard_arrow_up
          </mat-icon>
        </button>
      </div>
    </div>
    <noc-annoton-table [annoton]="annoton" *ngIf="annoton.expanded" class="noc-cam-table-body" fxLayout="row"
      fxLayoutAlign="start center">
    </noc-annoton-table>
  </div>
</div>
