<div class="w-100-p p-0 noc-cam-table">
  <div *ngIf="cam.loading?.status" class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-cam-progress-message">
      {{cam.loading?.message}}
    </span>
  </div>
  <div *ngIf="!cam.loading?.status" class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <span class='mr-12'>
      <strong>{{cam.activities.length}}</strong> Activities
    </span>
    <span class='mr-4'>
      <strong>Sort By</strong> :
    </span>
    <button mat-stroked-button class="noc-rounded-button noc-action-button noc-half-button noc-r noc-xs" color="primary"
      [matMenuTriggerFor]="sortByOptionMenu">
      {{cam.sortBy.label}} <fa-icon *ngIf="cam.expanded" [icon]="['fas', 'caret-down']"></fa-icon>
    </button>
    <button mat-stroked-button (click)="toggleSortDirection()"
      class="noc-rounded-button noc-action-button noc-icon noc-half-button noc-l noc-xs" color="primary">
      <fa-icon *ngIf="cam.sortBy.ascending" [icon]="['fas', 'sort-alpha-down']"></fa-icon>
      <fa-icon *ngIf="!cam.sortBy.ascending" [icon]="['fas', 'sort-alpha-down-alt']"></fa-icon>
    </button>
    <mat-menu #sortByOptionMenu="matMenu" class="noc-dropdown-menu">
      <button mat-menu-item *ngFor="let sortByOption of noctuaFormConfigService.activitySortField.options" class=""
        (click)="sortBy(sortByOption)">
        {{sortByOption.label}}
      </button>
    </mat-menu>

    <span *ngIf="cam.rebuildRule?.signal !== CamRebuildSignal.NONE" class="noc-cam-rebuild">
      {{cam.rebuildRule?.message}}
      <button mat-button (click)="reload(cam)" class="" color="primary">
        Reload
      </button>
    </span>
    <div *ngIf="cam.violations?.length>0" class="noc-error" fxLayout="row" fxLayoutAlign="start center">
      <mat-chip class="noc-error-chip  noc-chip-xs ml-8" fxLayout="row" fxLayoutAlign="start center"
        (click)="displayCamErrors()">
        <div class="noc-icon">
          <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
        </div>
        <div fxFlex="" class="noc-chip-label">
          {{cam.violations?.length}} Errors Found
        </div>
      </mat-chip>
    </div>
    <span fxFlex></span>
    <!-- <button mat-button class="" color="primary" (click)="resetModel(cam)">
      Reset Me
    </button>
    <button mat-button class="" color="primary" (click)="storedModel(cam)">
      Stored
    </button> -->

    <button mat-icon-button class="" fxFlex="40px" color="primary" [matMenuTriggerFor]="activityOptionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #activityOptionMenu="matMenu" class="noc-dropdown-menu">
      <button mat-menu-item class="" (click)="expandAll(true)">
        Expand All
      </button>
      <button mat-menu-item class="" (click)="expandAll(false)">
        Collapse All
      </button>
    </mat-menu>

    <button mat-stroked-button *ngIf="panelDrawer" (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="w-100-p noc-cam-table-body">
    <div *ngFor="let activity of cam.activities" [attr.id]="activity.displayId" class="w-100-p"
      [ngClass]="{'noc-selected': activity.displayId===camService.currentMatch?.activityDisplayId}">

      <noc-activity-table *ngIf="options.displayType===ActivityDisplayType.TABLE" [options]="options" [cam]="cam"
        [activity]="activity" class="noc-activities-table-body" fxLayout="row" fxLayoutAlign="start center">
      </noc-activity-table>
      <noc-activity-tree *ngIf="options.displayType===ActivityDisplayType.TREE" [options]="options" [cam]="cam"
        [activity]="activity" class="noc-activities-table-body" fxLayout="row" fxLayoutAlign="start center">
      </noc-activity-tree>
      <noc-activity-tree-table *ngIf="options.displayType===ActivityDisplayType.TREE_TABLE" [options]="options"
        [cam]="cam" [activity]="activity" class="noc-activities-table-body" fxLayout="row" fxLayoutAlign="start center">
      </noc-activity-tree-table>
    </div>
    <div *ngIf="!cam.loading?.status && cam.activities.length===0" class="noc-no-info">
      no activities present.
    </div>
    <div *ngIf="cam?.loading.status" class="noc-loading-container" fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner class="example-margin" diameter="70" [color]="loadingSpinner.color"
        [mode]="loadingSpinner.mode">
      </mat-progress-spinner>
    </div>
  </div>
</div>