<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        {{cam?.model?.title}}</span>
      <span fxFlex></span>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="noc-dialog-body" noctuaPerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center" class="w-100-p">
      <div fxLayout="row" fxLayoutAlign="start center" class="noc-header w-100-p">
        <div class="noc-title">
          Edit
        </div>
        <span fxFlex></span>
        <button type="button" mat-icon-button color="" class="">
          <mat-icon class="s-16 secondary-text">close</mat-icon>
        </button>
      </div>
      <form fxLayout="column" fxLayoutAlign="start stretch" name="searchForm" [formGroup]="searchForm" class="noc-body w-100-p noc-search-form">
        <mat-form-field appearance="standard" class="" fxFlex="">
          <mat-label>Annotated Entity</mat-label>
          <input matInput formControlName="geneProduct" placeholder="Enter a Gene Product" />
        </mat-form-field>
        <mat-form-field appearance="standard" class="" fxFlex="">
          <mat-label>Go Term</mat-label>
          <input matInput formControlName="goTerm" placeholder="Enter a Go Term" />
        </mat-form-field>
        <mat-form-field appearance="standard" class="" fxFlex="">
          <mat-label>PMID</mat-label>
          <input matInput formControlName="pmid" placeholder="Enter PMID" />
        </mat-form-field>

      </form>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)="search()" type="button" mat-raised-button color="primary">Search</button>
  </div>
</div>
