$noc-toolbar-color: #e7ecf4;
$noc-primary-color: #3b5998;
$noc-primary-color-accent: #8b9dc3;
$noc-primary-color-lighter: #dfe3ee;
$noc-primary-color-light: rgba(#798fb8, 0.5);
$noc-primary-color-text: #4a8bfc;

.mat-expansion-panel-body {
  padding: 0 !important;
}

.noc-drawer-header {
  position: sticky;
  position: -webkit-sticky;
  padding: 0 12px;
  @include deep-height(40px);
  background-color: #F7F7F7;
  @include mat-elevation(2);

  .noc-drawer-header-title {
    font-size: 12px;
    font-weight: bold;
  }
}

.noc-column-toolbar {
  padding: 5px;
  @include deep-height(40px); // @include mat-elevation(2);
  border-bottom: #BBB solid 1px;
  background-color: $noc-toolbar-color;
  z-index: 10;

  button {
    @include deep-height(30px);
    line-height: 30px;
  }
}

.noc-column-subtoolbar {
  padding: 5px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px; //line-height: 20px;
  font-weight: 500;
  @include deep-height(40px);
  @include mat-elevation(2);
  border-bottom: #BBB solid 1px;
  background-color: #FFF;
  z-index: 10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.noc-no-info {
  padding: 50px 10px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  color: #AAA;
}

.noc-alert {
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}

.noc-card-simple {
  margin-bottom: 20px;

  .noc-header {
    padding: 10px;
    @include deep-height(40px);
    @include deep-width(100%);
    border-bottom: #CCC solid 1px;

    .noc-title {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .noc-body {
    @include deep-width(100%);
    padding: 10px;
  }
}
