$noc-toolbar-color: #e7ecf4;
$noc-primary-color: #3b5998;
$noc-primary-color-accent: #8b9dc3;
$noc-primary-color-lighter: #dfe3ee;
$noc-primary-color-light: rgba(#798fb8, 0.3);
$noc-primary-color-text: #4a8bfc;

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);


.noc-disabled {
  pointer-events: none;
  opacity: 0.3;
}


.mat-row {
  &:hover {
    @include mat-elevation(1);
    background-color: #F5F5F5;
  }

  &.noc-row-selected {
    background-color: rgba($noc-primary-color-light, 0.15);
  }
}

.mat-toolbar {
  @include deep-height(40px);

  mat-toolbar-row {
    @include deep-height(40px);

    button {
      color: #EEE;
      border: #CCC solid 1px;

      &:hover {
        color: #CCC;
        border: #BBB solid 1px;
      }
    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.noc-drawer {
  .noc-drawer-header {
    padding: 0 12px;
    @include deep-height(40px);
    background-color: #FFF;
    @include mat-elevation(2);
    z-index: 1000;

    .noc-drawer-header-title {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .noc-drawer-body {
    min-height: calc(100% - 90px);

    .noc-draw-body-disabled {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#EEE, 0.5);
      z-index: 10;
      color: #8b2d2d;
      font-weight: bold;
      font-size: 24px;
    }
  }

  .noc-drawer-footer {
    padding: 0 12px;
    @include deep-height(50px);
    background-color: #F2F2F2;

    border-top: 1px solid #CCC;
    z-index: 1000;

    -webkit-box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
  }
}

.noc-dialog {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .noc-dialog-header {
    padding: 0 12px;
    background-color: rgba(map-get($primary, default), 0.7);
    color: #EEE;
    @include deep-height(40px);
    @include mat-elevation(2);
    z-index: 1000;

    .noc-dialog-header-title {
      font-size: 14px;
      font-weight: bold;
    }

    button {
      color: #EEE;
      border: #CCC solid 1px;

      &:hover {
        color: #CCC;
        border: #BBB solid 1px;
      }
    }
  }

  .noc-dialog-body {
    min-height: calc(100% - 90px);
  }

  .noc-dialog-footer {
    padding: 0 12px;
    @include deep-height(50px);
    background-color: #F2F2F2;

    border-top: 1px solid #CCC;
    z-index: 1000;

    -webkit-box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 2px -5px 2px 0px rgba(0, 0, 0, 0.26);
  }
}

.noc-form-section {
  width: 100%;
  background-color: #FFF;

  .noc-section-header {
    height: 30px;
    background-color: $noc-primary-color-light;

    .noc-section-heading {
      padding-left: 12px;
      font-size: 12px;
      line-height: 30px;
      color: #555;
    }

    .noc-action-button {
      margin: 0px;
      height: 30px; // line-height: 36px;
    }
  }

  .noc-section-body {
    padding: 4px 8px;
  }
}


.noc-column-toolbar {
  padding: 5px;
  @include deep-height(40px); // @include mat-elevation(2);
  border-bottom: #BBB solid 1px;
  background-color: $noc-toolbar-color;
  z-index: 10;

  button {
    @include deep-height(30px);
    line-height: 30px;
  }
}

.noc-column-subtoolbar {
  padding: 5px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px; //line-height: 20px;
  font-weight: 500;
  @include deep-height(40px);
  @include mat-elevation(2);
  border-bottom: #BBB solid 1px;
  background-color: #FFF;
  z-index: 10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.noc-no-info {
  padding: 50px 10px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  color: #AAA;
}

.noc-alert {
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}

.noc-card-simple {
  margin-bottom: 20px;

  .noc-header {
    padding: 10px;
    @include deep-height(40px);
    @include deep-width(100%);
    border-bottom: #CCC solid 1px;

    .noc-title {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .noc-body {
    @include deep-width(100%);
    padding: 10px;
  }
}
