@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

.noc-left-drawer {
  @include deep-height(100%);
  @include deep-width(300px);
  background-color: #FFF;
  border-right: #BBB solid 1px;
  @include mat-elevation(4);
}

.noc-right-drawer {
  @include deep-height(100%);
  background-color: #FFF;
  border-left: #BBB solid 1px;
}

:host {
  padding: 0px;
  width: 100%;
  background-color: #FFF;

  .mat-drawer-content {
    width: 100%;
  }

  .noc-drawer-container {
    background-color: #E2E2E2;
  }

  .noc-summary-bar {
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(40px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;

    @include mat-elevation(2);

    &.noc-expanded {
      @include deep-height(150px);
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }

    .noc-summary-bar-section {
      .noc-section-label {
        font-size: 12px;
        color: #555;
      }
    }

    .noc-title {
      strong {
        font-size: 12px;
      }
    }

    .noc-title-truncate {
      max-width: 200px
    }

    mat-icon-button {
      border-radius: 0 !important;
    }
  }

  .noc-sidemenu {
    padding: 0;
    margin-right: 5px;
    @include deep-height(100%);
    @include deep-width(60px);
    @include mat-elevation(2);
    border-right: #999 solid 1px;

    button {
      @include deep-width(60px);
      @include deep-height(60px);

      mat-icon {
        @include noc-icon-size(28px);
      }

      &.noc-active {
        mat-icon {
          color: $noc-primary-color-light;
        }
      }
    }
  }

  .noc-cam-table-heading {
    @include deep-height(50px);
    background-color: #FFF;
    // @include mat-elevation(2);
    border-bottom: #EEE solid 1px;
  }

  .noc-form-container {
    background-color: #EEE;
    padding: 20px 10px;
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: #BBB solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .cams-table {
    width: 100%;
    @include deep-height(100%);
    padding-bottom: 300px;
    // position: relative;
    //  flex: 1 1 auto;
    //    border-bottom: 1px solid rgba(0, 0, 0, .12);
    //  overflow: auto;

    .noc-cams-table-header {
      padding: 0;
      margin-bottom: 5px;
      @include deep-height(50px);
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
      background-color: #FFF;
      @include mat-elevation(1);
      //  background-color: $noc-primary-color-light;
      // font-size: 3px !important;
    }

    .cam {
      position: relative;
      cursor: pointer;
      min-height: 40px;
      font-size: 12px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    /* .mat-header-cell {
      display:flex;
      justify-content:flex-end;
     } */
  }
}
