<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Confirm {{cam?.model?.title}}</span>
      <span fxFlex></span>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="noc-dialog-body p-8" noctuaPerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center" class="w-100-p">
      <div fxLayout="column" fxLayoutAlign="start center" class="noc-body w-100-p noc-search-form">
        <div class="p-12">
          {{cam.relationship}}
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="w-100-p">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start" class="">
          <h2>Then</h2>
          <div class="p-12">
            {{cam.srcNode.getTerm().label}}<br>
            <small> {{cam.srcNode.getTerm().id}}</small>
          </div>
          <strong class="mb-12">Evidence</strong>
          <div class="p-12" *ngFor="let evidence of cam.srcNode.evidence">
            {{evidence.getEvidence().label}}<br>
            <small>{{evidence.getEvidence().id}}</small>
          </div>
        </div>
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start" class="">
          <h2>Now</h2>
          <div class="p-12">
            {{cam.destNode.getTerm().label}}<br>
            <small> {{cam.destNode.getTerm().id}}</small>
          </div>
          <strong class="mb-12">Evidence</strong>
          <div class="p-12" *ngFor="let evidence of cam.destNode.evidence">
            {{evidence.getEvidence().label}}<br>
            <small>{{evidence.getEvidence().id}}</small>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">\
      <span fxFlex></span>
      <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
    </div>
  </div>
