@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

.cam-row-edit-dialog {
  width: 900px;

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('sm') {
    width: 600px;
  }

  .noc-dialog-body {
    margin: 0;
    padding: 15px 10px;
    @include deep-width(100%);
  }

  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-content {}

  .dialog-content-wrapper {
    display: flex;
    flex-direction: column;
  }
}
