@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;

  .noc-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .noc-cam-progress {
    position: absolute;
    top: 0;
    height: 5px;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .noc-drawer-header {
    border-bottom: #DDD solid 1px;
  }

  .noc-cams {
    @include deep-width(100%);
  }

  .noc-section-header {
    padding: 8px 12px;
    @include deep-height(80px);
  }

  .noc-summary-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 101px;
    margin-bottom: 4px;
    padding: 0 10px 0 20px;
    @include deep-height(30px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);

    .noc-header-title {}

    .noc-review-number {
      color: #555;
      font-size: 12px;
    }

    .noc-art-tools {
      //background-color: ;
      margin-right: 16px;
    }

    .noc-pagesize-select {
      width: 50px;
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }

  }

  .noc-cams-results {
    position: relative;
    padding: 12px;

    .noc-cam-container {
      @include mat-elevation(2);

      &.noc-selected {
        border-left: darken($noc-highlight-model-color, 15%) solid 1px;

        .noc-cam-table {

          &::before {
            left: 43px;
            width: 5px;
            background-color: darken($noc-highlight-model-color, 15%);
          }
        }
      }
    }

    .noc-cam-heading {
      position: relative;
      margin-bottom: 0px;
      padding: 0 10px 0 0;
      @include deep-height(35px);
      width: 100%;
      //min-height: 35px;
      background-color: #FFFFFF;
      font-size: 12px;

      .noc-toggle-expand-button {
        width: 30px;
        height: 30px;
        line-height: 12px;
      }

      .noc-cam-title {
        max-width: 400px !important;
      }

      .noc-cam-heading-section {
        height: 100%;

        .noc-section-label {
          font-size: 12px;
          color: #555;
        }
      }

      .noc-title {
        padding-left: 0;
        padding-right: 8px;
        //max-width: 250px;

        strong {
          font-size: 12px;
        }
      }

      .noc-model-state {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 150px;
      }

      mat-icon-button {
        border-radius: 0 !important;
      }


    }

    .noc-cam-table {
      position: relative;
      padding-left: 60px;


      &::before {
        position: absolute;
        top: 0;
        left: 45px;
        bottom: 0;
        width: 2px;
        color: white;
        background-color: $noc-tree-line-color;
        content: "";
      }
    }
  }

}
