<div class="containser">
  <span class="btn btn-primary" (click)="showConnectOnClick()">{{buttonName}}</span>
  <div class="row">
    <div class="col-md-12">
      <div class="alignleft">
        <div class="customBox" id="Source">
          Source
        </div>
      </div>
      <br>
      <div class="alignright">
        <div class="customBox" id="Target1">
          Target 1
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

<button (click)="addNode('test')">Create new node</button>
<noc-nodes-container [nodes]="cam?.annotons"></noc-nodes-container>
