#cam-canvas {
  position: relative;
  height: 500px;
  background-color: #F2D4FE;
  overflow: auto;

  // -webkit-transform: scale(0.75);
  // -moz-transform: scale(0.75);
  // -ms-transform: scale(0.75);
  // -o-transform: scale(0.75);
  // transform: scale(0.75);

  .node {
    padding: 16px;
    position: absolute;
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 4px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    text-align: center;
    overflow: hidden;
    z-index: 4;
    border: 1px solid #2e6f9a;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
  }

  .node:hover {
    background-color: #5c96bc;
    color: white;

  }

  .aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
  }

  .aLabel.jtk-hover,
  .jtk-source-hover,
  .jtk-target-hover {
    background-color: #1e8151;
    color: white;
  }

  .aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
  }

  .ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
  }

  .ep:hover {
    box-shadow: 0 0 6px black;
  }

  .statemachine-demo .jtk-endpoint {
    z-index: 3;
  }

  #opened {
    left: 10em;
    top: 5em;
  }

  #phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
  }

  #inperson {
    left: 12em;
    top: 23em;
  }

  #phone2 {
    left: 28em;
    top: 24em;
  }

  #rejected {
    left: 10em;
    top: 35em;
  }

  .dragHover {
    border: 2px solid orange;
  }

  path,
  .jtk-endpoint {
    cursor: pointer;
  }
}
