@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";



:host {


  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('sm') {
    width: 600px;
  }

  .noc-error-row {
    border-bottom: #CCC double 1px;
    width: 100%;

    .noc-number {
      padding: 18px 2px;
      @include deep-width(40px);
      background-color: #DDD;
      font-size: 12px;
      text-align: center;
    }

    .noc-error-row-body {
      padding: 8px 10px 8px 10px;
    }

    .noc-heading {
      padding: 8px 0px;
      font-size: 14px;
    }

    .noc-node-card {
      padding: 5px;
      @include deep-height(100px);
      @include deep-width(250px);
      border: #AAA double 2px;
      font-size: 10px;
      text-align: center;
      overflow: hidden;

      &.noc-lg {
        @include deep-height(100px);
        @include deep-width(150px);
      }

      &.noc-long {
        @include deep-height(60px);
        @include deep-width(300px);
      }
    }

    .noc-edge-card {
      .noc-line {
        padding-top: 15px;
        @include deep-height(35px);
        @include deep-width(100%);
        border-bottom: #AAA solid 2px;
        text-align: center;
      }
    }
  }

  .noc-dialog-body {
    margin: 0;
    padding: 0;
    @include deep-width(100%);
  }

  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-content {}

  .dialog-content-wrapper {
    width: 900px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
  }
}
