<div class="dialog-content-wrapper noc-dialog" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="m-0 noc-dialog-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-dialog-header-title">
      Preview</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" class="noc-dialog-body">
    <noc-graph-preview *ngIf="noctuaActivityFormService.activity"
      [nodes]="noctuaActivityFormService.activity?.graphPreview.nodes"
      [edges]="noctuaActivityFormService.activity?.graphPreview.edges" class="noc-graph-preview"></noc-graph-preview>
  </div>
  <div class="m-0 p-16 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>