<mat-toolbar class="" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div class="noc-br" fxLayout="row" fxLayoutAlign="start center" fxFlex="220px">
    <button mat-icon-button [matMenuTriggerFor]="changeView" class="">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #changeView="matMenu">
      <button class="noc-create-button" (click)="createModel()" mat-menu-item>
        Create New Model
      </button>
      <a *ngFor="let workbench of cam?.model?.modelInfo?.workbenches" href="{{workbench.url}}" target="_blank"
        mat-menu-item>
        {{workbench.label}}
      </a>
    </mat-menu>
    <div fxLayoutAlign="center center" class="noc-logo-filler">
      <a mat-icon-button href="http://geneontology.org/" target="_blank">
        <img src="assets/images/logos/go-logo.png">
      </a>
    </div>
    <div class="noc-logo" fxLayout="row" fxLayoutAlign="start">
      <a class="noc-main-logo" href="{{noctuaUrl}}" target="_blank">
        Noctua
      </a>
      <a class="noc-sub-logo" href="{{noctuaFormUrl}}" target=" _blank">
        Form
      </a>
    </div>
  </div>
  <div *ngIf="cam" class="noc-title mr-12" fxLayout="row" fxLayoutAlign="start center">
    <div class="h-100-p mr-12" *ngIf="cam.title; else noCamTitle" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-section-label noc-cam-title">
        <div class="text-truncate" (click)="openCamForm()">
          {{cam.title}}
        </div>
      </div>
    </div>
    <ng-template #noCamTitle>
      <div class="h-100-p mr-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-label" (click)="openCamForm(annoton)">
          No Title Yet
        </div>
      </div>
    </ng-template>
  </div>
  <span fxFlex=""></span>
  <div *ngIf="noctuaUserService.user" fxLayout="row" fxLayoutAlign="end center" fxFlex="250px">
    <button mat-button class="noc-name-button" [matMenuTriggerFor]="userMenu">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-info" fxLayout="column" fxLayoutAlign="start start">
          <div class="noc-name text-truncate">
            {{noctuaUserService.user.name}}
          </div>
          <div class="noc-group-name text-truncate">
            {{noctuaUserService.user?.group?.label}}
          </div>
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </button>
    <mat-menu #userMenu="matMenu" class="">
      <a mat-button href="{{logoutUrl}}" class="red-500-fg w-100-p">
        Logout
      </a>
    </mat-menu>
  </div>
  <div *ngIf="!noctuaUserService.user" fxLayout="row" fxLayoutAlign="end center" fxFlex="150px">
    <a mat-button href="{{loginUrl}}" class="green-300-bg">
      Login
    </a>
  </div>
</mat-toolbar>
