<mat-toolbar class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="250px">
    <div fxLayoutAlign="center center" class="noc-logo-filler">
      <button mat-icon-button target="_blank">
        <img src="assets/images/logos/go-logo.png">
      </button>
    </div>
    <div class="noc-logo" fxLayout="row" fxLayoutAlign="start">
      <a class="noc-main-logo" target="_blank">
        Noctua
      </a>
      <a class="noc-sub-logo" target="_blank">
        Annotation Review
      </a>
    </div>
  </div>
  <span fxFlex=""></span>
  <!--
  <div class="toolbar-separator"></div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <noctua-search-bar fxFlex="60" class="noc-search-bar" (input)="search($event)"></noctua-search-bar>
  </div>
  <div class="toolbar-separator"></div>
-->
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="250px">
    <button mat-button class="" target="_blank">
      <mat-icon class="s-20">map</mat-icon>
      Take a Tour
    </button>
    <a mat-button href="{{loginUrl}}">
      Login
    </a>
  </div>
</mat-toolbar>
