@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  border-bottom: 2px solid $noc-primary-color;

  .noc-logo-filler {
    @include deep-width(50px);

    img {
      height: 30px;
    }
  }

  .noc-announcement {
    padding: 0 10px 0 5px;
    //background-color: rgb(168, 225, 238);
    @include deep-height(50px);
    color: inherit;
    position: relative;
    padding: 5px !important;
    margin-bottom: 0 !important;
    // border:none!
    noc-announcement-header {
      @include deep-height(100%);
      width: 1000px;
    }

    //.noc-rounded-button
  }

  .mat-toolbar {
    padding: 0 10px 0 5px;
    background-color: #fff;
    @include deep-height(50px);
    color: inherit;
    position: relative;

    &.noc-dev {
      background-color: #fad38a;
    }

    &.noc-beta {
      background-color: #fdcbbc;
    }

    mat-toolbar-row {
      @include deep-height(40px);

      &.noc-subtoolbar {
        button {
          margin-right: 8px;
          height: 30px;
          line-height: 30px;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 12px;
        }
      }
    }

    .noc-beta-logo {
      @include deep-height(100%);
      line-height: 20px;

      .noc-title {
        font-size: 20px;
        font-weight: bold;

        a {
          text-decoration: none;
          color: #555;
        }
      }

      .noc-description {
        font-size: 10px;
        font-style: italic;
      }
    }

    mat-toolbar-row {
      @include deep-height(40px);

      &.noc-subtoolbar {
        button {
          margin-right: 8px;
          height: 30px;
          line-height: 30px;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 12px;
        }
      }
    }

    .noc-apps-button {
      margin-right: 12px;
      //background-color: #aaeaf6;
      border-radius: 0 !important;
      @include deep-height(50px);
      @include deep-width(50px);
      line-height: 55px;
      color: map-get($primary, default);

      mat-icon {
        @include noc-icon-size(30px);
      }
    }

    .noc-cam-title {
      max-width: 400px !important;
    }

    .noc-cam-heading-section {
      height: 100%;

      .noc-section-label {
        font-size: 12px;
        color: #555;
      }
    }

    .noc-title {
      strong {
        font-size: 12px;
      }
    }

    .noc-title-truncate {
      max-width: 200px;
    }

    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  .noc-announcement-button {
    @include deep-width(50px);
    @include deep-height(50px);

    font-size: 28px;
    color: rgba(map-get($primary, default), 0.5);

    &.noc-active {
      font-size: 28px;
      color: map-get($primary, default);
    }

    .noc-badge {
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      color: #fff;
      background-color: #2b463b;
      font-size: 10px;
      text-align: center;
      line-height: 20px;
    }
  }

  .noc-name-button {
    @include deep-height(40px);
    text-align: left;
    text-transform: initial;
    line-height: 20px;
    font-size: 12px;

    .noc-info {
      margin-right: 5px;
      max-width: 150px;
      overflow: hidden;

      .noc-group-name {
        font-size: 10px;
        color: #888;
      }
    }
  }

  .noc-logo {
    height: 100%;
    padding: 5px 0;

    img {
      height: 40px;
    }

    //@include deep-width(130px);
    .noc-main-logo,
    .noc-sub-logo {
      cursor: pointer;
      font-size: 20px;
      text-decoration: none !important;
      text-align: left;
      color: #555;

      &:hover {
        color: #000000;
      }
    }

    .noc-main-logo {
      margin-right: 4px;
      font-weight: bold;
    }

    .noc-sub-logo {
      font-weight: normal;
    }
  }

  .noc-create {
    padding: 0 12px;
  }

  .noc-login-button {
    background-color: #52a16c;
    color: #ffffff;
  }

  .noc-create-button {
    background-color: rgba(map-get($primary, default), 0.7) !important;
  }
}
