 <form name="annotonFormGroup" [formGroup]="annotonFormGroup" fxLayout="column" fxLayoutAlign="start stretch"
   class="noc-drawer w-100-p h-100-p">
   <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
     <span class="noc-drawer-header-title">
       Create New Activity
     </span>
     <span fxFlex></span>
     <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
       aria-label="Close dialog">
       <mat-icon>close</mat-icon> Close
     </button>
   </div>
   <div class="noc-drawer-body noc-annoton-form" noctuaPerfectScrollbar>
     <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
       <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
         <div class="noc-section-heading">
           Gene Product
         </div>
         <span fxFlex></span>
         <button mat-icon-button (click)="createExample()">
           .
         </button>
       </div>
       <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
         <div [formArrayName]="'gp'" *ngFor="let nodeGroup of annotonFormGroup.get('gp')?.controls; let i = index;"
           class="mat-elevation-z1 noc-term-group mb-4 px-8 pt-4  {{nodeGroup.get('name').value}}">
           <div [formGroupName]="i" *ngFor="let entityForm of nodeGroup.get('entityGroup')?.controls" class="">
             <noc-entity-form [entityFormGroup]="entityForm" fxLayout="row" fxLayoutAlign="start center"
               class="w-100-p">
             </noc-entity-form>
           </div>
         </div>
       </div>
     </div>
     <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
       <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
         <div class="noc-section-heading">
           Function Description
         </div>
         <span fxFlex></span>
       </div>
       <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
         <div *ngIf="noctuaAnnotonFormService.annoton.annotonType===AnnotonType.bpOnly"
           class="mat-elevation-z1 noc-term-group mb-4 px-8 mf" fxLayout="row" fxLayoutAlign="start center">
           <div class="p-4" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
             <mat-form-field class="noc-sm w-100-p" appearance="outline">
               <mat-label><strong>(readonly)</strong> Molecular Function </mat-label>
               <input [readonly]="true" type="text" matInput value="molecular_function (GO:0003674)" />
             </mat-form-field>
           </div>
           <div class="p-4" fxFlex="600px" fxLayout="row" fxLayoutAlign="start stretch">
             <mat-form-field appearance="outline" class="noc-sm w-100-p">
               <mat-label>Choose Causal Relation</mat-label>
               <mat-select placeholder="" formControlName="bpOnlyEdge">
                 <mat-option *ngFor="let bpOnlyEdge of noctuaFormConfigService.bpOnlyEdges.options"
                   [value]="bpOnlyEdge">
                   {{bpOnlyEdge.label}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
           </div>
         </div>
         <div [formArrayName]="'fd'" *ngFor="let nodeGroup of annotonFormGroup.get('fd')?.controls; let i = index;"
           class="mat-elevation-z1 noc-term-group mb-4 px-8 {{nodeGroup.get('name').value}}" fxLayout="row"
           fxLayoutAlign="start stretch">
           <div *ngIf="nodeGroup.get('isComplement')?.value" class="noc-group-side-heading" fxLayout="column"
             fxLayoutAlign="center center">
             <div>IS NOT</div>
           </div>
           <div fxFlex="" class="">
             <ng-container [formGroupName]="i" *ngFor="let entityForm of nodeGroup.get('entityGroup')?.controls">
               <noc-entity-form [entityFormGroup]="entityForm" fxLayout="row" fxLayoutAlign="start center"
                 class="w-100-p">
               </noc-entity-form>
             </ng-container>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
     <button *ngIf="noctuaAnnotonFormService.annoton.submitErrors.length>0" (click)='checkErrors()' mat-button
       color="warn" class="noc-rounded-button noc-sm">
       Why is the "Save" button disabled?
     </button>
     <span fxFlex></span>
     <button (click)='preview()' type="button" mat-raised-button color="" class="mr-8">Preview</button>
     <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
     <button [disabled]="noctuaAnnotonFormService.annoton.submitErrors.length>0" (click)="save()" type="submit" class=""
       mat-raised-button color="primary">Save</button>
   </div>
 </form>
