<div class="noc-page-container">
  <div fxLayout="column" fxLayoutAlign="start center">
    <form fxLayout="column" fxLayoutAlign="start stretch" name="searchForm" [formGroup]="searchForm" class="noc-container mat-elevation-z2 noc-search-form">
      <div id="sae-model-section" class="sae-gp sae-form-section md-whiteframe-2dp" fxLayout="column" fxLayoutAlign="start stretch"
        fxFlex>
        <div class="sae-section-header" fxLayout="row" fxLayoutAlign="start start" fxFlex>
          <div class="sae-section-heading">
            Model
          </div>
          <span fxFlex></span>
          <div id="sae-start-model-button">
            <button mat-button [matMenuTriggerFor]="menu">Model Options</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="md-primary" (click)="appCtrl.graph.addModel()">
                Start New Model
              </button>
              <button mat-menu-item (click)="appCtrl.openCreateFromExistingDialog($event)">
                Create From an Existing Activity
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="sae-section-body pt-15 ph-15" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row">
            <mat-form-field appearance="standard" class="" fxFlex="50">
              <mat-label>Model Title</mat-label>
              <input matInput formControlName="goTerm" placeholder="Enter a Go Term" />
            </mat-form-field>
            <mat-form-field appearance="standard" class="" fxFlex="25">
              <mat-select>
                <mat-option *ngFor="let modelState of noctuaFormConfig.modelState.options | keys" [value]="modelState.name">
                  {{modelState.value.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" class="" fxFlex="25">
              <mat-select>
                <mat-option *ngFor="let modelState of noctuaFormConfig.modelState.options | keys" [value]="modelState.name">
                  {{modelState.value.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--
        <div id="sae-gp-section" class="sae-table-form pb-15 sae-form-section md-whiteframe-2dp" fxLayout="column" fxLayoutAlign="start stretch"
          fxFlex>
          <div class="sae-section-header" fxLayout="row" fxLayoutAlign="start start" fxFlex>
            <div class="sae-section-heading">
              Gene Product
            </div>
            <span fxFlex></span>
            <md-menu id="sae-gp-toggle-button" md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Type" class="sae-action-button md-primary" (click)="$mdMenu.open($event)">
                {{NoctuaFormConfig.annotonType.options[appCtrl.formGrid.annoton.annotonType].label}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonType in NoctuaFormConfig.annotonType.options">
                  <md-button (click)="appCtrl.formGrid.setAnnotonType(appCtrl.formGrid.annoton, annotonType.name)">
                    {{annotonType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div ng-if="appCtrl.formGrid.annoton.annotonType === NoctuaFormConfig.annotonType.options.simple.name" class="sae-section-body pt-15 ph-15"
            fxLayout="column" fxLayoutAlign="start stretch">
            <div class="typeaheadcontainer" fxLayout="row">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block" fxFlex>
                <input aria-describedby="igGP" type="text" ng-model="appCtrl.formGrid.annotonPresentation.geneProduct.term.control.value"
                  ng-model-options="{allowInvalid: true}" ng-trim="false" placeholder="Gene Product" ng-blur="noResultsGP = false"
                  uib-typeahead="term as term.label + ' (' +term.id + ') ' for term in appCtrl.lookup.golrLookup($viewValue, appCtrl.formGrid.annotonPresentation.geneProduct.term.lookup.requestParams)"
                  ng-required="appCtrl.formGrid.annotonPresentation.geneProduct.term.control.required" typeahead-append-to-body="true"
                  xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP" typeahead-no-results="noResultsGP"
                  typeahead-template-url="customTemplate.html" typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen"
                  typeahead-is-open="'true'" typeahead-on-select="appCtrl.onSelected(appCtrl.formGrid.annotonPresentation.geneProduct.term.control.value, $item, $model, $label, $event)"
                  class="typeaheadcontrol" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="appCtrl.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
          </div>
          <div ng-if="appCtrl.formGrid.annoton.annotonType === NoctuaFormConfig.annotonType.options.complex.name" class="sae-section-body sae-term-group  pt-15 ph-15 pb-25"
            fxLayout="column" fxLayoutAlign="start stretch">
            <div class="typeaheadcontainer">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block">
                <input aria-describedby="igGP" type="text" ng-model="appCtrl.formGrid.annotonPresentation.mcNode.term.control.value" ng-trim="false"
                  placeholder="Macromolecular Complex GO Term" ng-blur="noResultsGP = false" uib-typeahead="term as term.label + ' (' +term.id + ') ' for term in appCtrl.lookup.golrLookup($viewValue, appCtrl.formGrid.annotonPresentation.mcNode.term.lookup.requestParams)"
                  typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP"
                  typeahead-no-results="noResultsGP" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                  typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="appCtrl.termSelected('GP', $item, $model, $label, $event)"
                  class="typeaheadcontrol" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="appCtrl.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
            <div ng-repeat="entity in appCtrl.formGrid.annotonPresentation.gp.mc.nodes" class="sae-annoton-group-row" fxLayout="column"
              ng-class="{'sae-input-heading' : entity.treeLevel===0,
                     'sae-row-disabled': !entity.enableRow()}">
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">

                <div class="" fxLayout="row">
                  <div ng-if="entity.treeLevel>0" class="sae-tree-input sae-level-1">
                  </div>
                  <div ng-if="entity.treeLevel>1" class="sae-tree-input sae-level-2">
                  </div>
                  <div ng-if="entity.treeLevel>2" class="sae-tree-input sae-level-3">
                  </div>
                  <div class="typeaheadcontainer" fxFlex="40">
                    <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                      <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                    <md-input-container class="md-block">
                      <input aria-label="term" type="text" ng-model="entity.term.control.value" ng-model-options="{allowInvalid: true}" tabindex="0"
                        ng-trim="false" ng-required="entity.term.control.required" uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.term.lookup.requestParams)"
                        typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                        typeahead-loading="loadingItems[term]" typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html"
                        typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                        typeahead-on-select="appCtrl.termSelected(term, $item, $model, $label, $event)" class="typeaheadcontrol"
                        placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                    </md-input-container>
                    <div class="no-results" ng-show="appCtrl.editingModel[term].length > 2 && noResults[term]">
                      No Results Foundd
                    </div>
                  </div>
                  <div class="typeaheadcontainer" fxFlex="30">
                    <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                      <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                    <md-input-container class="md-block">
                      <div ng-if="entity.evidence.length>1" class="sae-more-evidence-link">
                        <a (click)="appCtrl.openAddEvidenceDialog($event, entity)">
                          + {{entity.evidence.length-1}} evidence(s)
                        </a>
                      </div>
                      <input aria-label="evidence" type="text" ng-model="entity.evidence[0].evidence.control.value" ng-trim="false" tabindex="0"
                        ng-model-options="{allowInvalid: true}" ng-required="entity.evidence[0].evidence.control.required"
                        uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.evidence[0].evidence.lookup.requestParams)"
                        typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                        typeahead-loading="loadingItems[term + 'e']" typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html"
                        typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                        typeahead-on-select="appCtrl.termSelected(term + 'e', $item, $model, $label, $event)" class="typeaheadcontrol"
                        placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                    </md-input-container>
                    <div class="no-results" ng-show="appCtrl.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                      No Results Found
                    </div>
                  </div>
                  <div class="" fxFlex="15">
                    <md-input-container class="md-block">
                      <input tabindex="0" ng-trim="true" ng-model-options="{allowInvalid: true}" ng-model="entity.evidence[0].reference.control.value"
                        type="text" ng-required="entity.evidence[0].reference.control.required" class="" placeholder="Reference"
                        aria-label="reference">
                    </md-input-container>
                  </div>
                  <div class="" fxFlex="15">
                    <md-input-container class="md-block">
                      <input tabindex="0" ng-trim="true" ng-model="entity.evidence[0].with.control.value" type="text" class="" placeholder="With"
                        aria-label="With"> </md-input-container>
                  </div>
                  <span fxFlex></span>
                  <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" (click)="$mdMenu.open($event)">
                      <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                      <md-menu-item ng-if="false">
                        <md-button class="" (click)="appCtrl.removeHasPartGP(appCtrl.formGrid.annoton, entity)">
                          Remove GP
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Evidence</h6>
                      <md-menu-item>
                        <md-button class="" (click)="appCtrl.openSelectEvidenceDialog($event, entity)">
                          Clone Evidence
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" (click)="appCtrl.openAddEvidenceDialog($event, entity)">
                          More Evidence
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" (click)="appCtrl.addNDEvidence(entity.evidence[0])">
                          Add ND Reference
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Term
                      </h6>
                      <md-menu-item ng-if="entity.treeLevel===0">
                        <md-button class="" (click)="appCtrl.toggleIsComplement(entity)">
                          NOT Qualifier
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" (click)="entity.clearValues()">
                          Clear
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Search
                      </h6>
                      <md-menu-item ng-if="entity.aspect">
                        <md-button class="" (click)="appCtrl.openPopulateDialog($event, entity)">
                          Search Database
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
            </div>
            <div>
              <md-button (click)="appCtrl.addHasPartGP(appCtrl.formGrid.annoton)" class="md-primary">
                Add Gene
              </md-button>
            </div>
          </div>
        </div>
        <div id="sae-fd-section" class="sae-table-form sae-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="sae-section-header" fxLayout="row" fxLayoutAlign="start start" fxFlex>
            <div class="sae-section-heading">
              Function Description
            </div>
            <span fxFlex></span>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Model Type" class="sae-action-button md-primary" (click)="$mdMenu.open($event)">
                {{NoctuaFormConfig.annotonModelType.options[appCtrl.formGrid.annoton.annotonModelType].label}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonModelType in NoctuaFormConfig.annotonModelType.options">
                  <md-button (click)="appCtrl.formGrid.setAnnotonModelType(appCtrl.formGrid.annoton, annotonModelType.name)">
                    {{annotonModelType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div class="sae-section-body" fxLayout="column" fxLayoutAlign="start stretch">
            <div ng-repeat="nodeGroup in appCtrl.formGrid.annotonPresentation.fd" class="sae-term-group md-whiteframe-1dp" fxLayout="row">
              <div ng-if="nodeGroup.isComplement" class="sae-group-side-heading" fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <div>IS NOT</div>
              </div>
              <div class="pb-20" fxLayout="column" fxFlex>
                <div ng-repeat="entity in nodeGroup.nodes" class="ph-15 sae-annoton-group-row" fxLayout="column" ng-class="{'sae-input-heading' : entity.treeLevel===0,
                   'sae-row-disabled': !entity.enableRow()}">
                  <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                    <div ng-if="entity.edgeOption" class="" fxFlex="100">
                      <md-input-container class="md-block">
                        <md-select ng-model="entity.edgeOption.selected" ng-change="entity.selectEdge(appCtrl.formGrid.annoton, entity.edgeOption.selected)">
                          <md-option ng-value="edgeOption" ng-repeat="edgeOption in entity.edgeOption.options">
                            {{edgeOption.label}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="" fxLayout="row">
                      <div ng-if="entity.treeLevel>0" class="sae-tree-input sae-level-1">
                      </div>
                      <div ng-if="entity.treeLevel>1" class="sae-tree-input sae-level-2">
                      </div>
                      <div ng-if="entity.treeLevel>2" class="sae-tree-input sae-level-3">
                      </div>
                      <div class="typeaheadcontainer" fxFlex="40">
                        <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                          <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <md-input-container class="md-block">
                          <div ng-if="entity.modelId" class="sae-node-link">
                            <a class="sae-ellipsis" (click)="appCtrl.openLinkToExistingDialog($event, entity)">
                              Linked To Existing
                            </a>
                          </div>
                          <input aria-label="term" type="text" ng-model="entity.term.control.value" ng-model-options="{allowInvalid: true}" tabindex="0"
                            ng-trim="false" ng-required="entity.term.control.required" uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.term.lookup.requestParams)"
                            typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                            typeahead-loading="loadingItems[term]" typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html"
                            typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                            typeahead-on-select="appCtrl.termSelected(term, $item, $model, $label, $event)" class="typeaheadcontrol"
                            placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                        </md-input-container>
                        <div class="no-results" ng-show="appCtrl.editingModel[term].length > 2 && noResults[term]">
                          No Results Foundd
                        </div>
                      </div>
                      <div class="typeaheadcontainer" fxFlex="30">
                        <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                          <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <md-input-container class="md-block">
                          <div ng-if="entity.evidence.length>1" class="sae-more-evidence-link">
                            <a (click)="appCtrl.openAddEvidenceDialog($event, entity)">
                              + {{entity.evidence.length-1}} evidence(s)
                            </a>
                          </div>
                          <input aria-label="evidence" type="text" ng-model="entity.evidence[0].evidence.control.value" ng-trim="false" tabindex="0"
                            ng-model-options="{allowInvalid: true}" ng-required="entity.evidence[0].evidence.control.required"
                            uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.evidence[0].evidence.lookup.requestParams)"
                            typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                            typeahead-loading="loadingItems[term + 'e']" typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html"
                            typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                            typeahead-on-select="appCtrl.termSelected(term + 'e', $item, $model, $label, $event)" class="typeaheadcontrol"
                            placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                        </md-input-container>
                        <div class="no-results" ng-show="appCtrl.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                          No Results Found
                        </div>
                      </div>
                      <div class="" fxFlex="15">
                        <md-input-container class="md-block">
                          <input tabindex="0" ng-trim="true" ng-model-options="{allowInvalid: true}" ng-model="entity.evidence[0].reference.control.value"
                            type="text" ng-required="entity.evidence[0].reference.control.required" class="" placeholder="Reference"
                            aria-label="reference">
                        </md-input-container>
                      </div>
                      <div class="" fxFlex="15">
                        <md-input-container class="md-block">
                          <input tabindex="0" ng-trim="true" ng-model="entity.evidence[0].with.control.value" type="text" class="" placeholder="With"
                            aria-label="With"> </md-input-container>
                      </div>
                      <span fxFlex></span>
                      <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" (click)="$mdMenu.open($event)">
                          <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                          <h6 class="sae-menu-heading">
                            Evidence</h6>
                          <md-menu-item>
                            <md-button class="" (click)="appCtrl.openSelectEvidenceDialog($event, entity)">
                              Clone Evidence
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" (click)="appCtrl.openAddEvidenceDialog($event, entity)">
                              More Evidence
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" (click)="appCtrl.addNDEvidence(entity.evidence[0])">
                              Add ND Reference
                            </md-button>
                          </md-menu-item>
                          <h6 class="sae-menu-heading">
                            Term
                          </h6>
                          <md-menu-item ng-if="entity.treeLevel===0">
                            <md-button class="" (click)="appCtrl.toggleIsComplement(entity)">
                              NOT Qualifier
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="entity.treeLevel===0">
                            <md-button class="" (click)="appCtrl.addRootNode(entity)">
                              Root Term
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="false">
                            <md-button class="" (click)="appCtrl.openAnnotonSectionDialog($event, entity, true)">
                              Add CC Component
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" (click)="entity.clearValues()">
                              Clear
                            </md-button>
                          </md-menu-item>
                          <h6 class="sae-menu-heading">
                            Search
                          </h6>
                          <md-menu-item ng-if="entity.aspect==='P'">
                            <md-button class="" (click)="appCtrl.openLinkToExistingDialog($event, entity)">
                              Choose From an Existing Process
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="entity.aspect">
                            <md-button class="" (click)="appCtrl.openPopulateDialog($event, entity)">
                              Search Database
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sae-submit-row" fxLayout="row" class="sae-submit-row md-whiteframe-2dp">
            <button ng-if="appCtrl.formGrid.annoton.submitErrors.length > 0" class="btn btn-link" (click)="appCtrl.dialogService.openAnnotonErrorsDialog($event, appCtrl.formGrid.annoton, appCtrl.formGrid.annoton.submitErrors)">
              Why is the "save" button disabled?
            </button>
            <span fxFlex></span>
            <md-button type="button" ng-disabled="false" (click)="appCtrl.formGrid.clearForm()" class="md-raised" aria-label="Clear Form">
              Clear
            </md-button>
            <md-button type="button" ng-disabled="!appCtrl.formGrid.annoton.enableSubmit()" (click)="appCtrl.saveAnnoton()" class="md-primary md-raised"
              aria-label="Save Form">
              Save
            </md-button>
            <md-button ng-if="false" type="button" ng-disabled="!appCtrl.formGrid.annoton.enableSubmit()" (click)="appCtrl.saveAnnoton(true)"
              class="md-primary md-raised" aria-label="Save Form">
              Save & Start New Model
            </md-button>
          </div>
        </div>
        <br>
        <div fxLayout="row" class="sae-submit-row md-whiteframe-2dp">
          <p> </p>
          <span fxFlex></span>
          <md-button class="md-primary" (click)="appCtrl.graph.addModel()">
            Start New Model
          </md-button>
        </div>    -->

    </form>
  </div>
</div>
