<div *ngIf="entity.predicate?.evidence.length>0" class="noc-evidence-table noctua-form-table w-100-p" fxLayout="column"
  fxLayoutAlign="start stretch">
  <div class="h-100-p mb-8" fxLayout="row" fxLayoutAlign="start stretch"
    *ngFor="let evidence of entity.predicate?.evidence; let i = index">
    <div *ngIf="settings.showEvidenceCode" class="noc-evidence-code-cell noc-box-cell" fxFlex="" fxLayout="column"
      fxLayoutAlign="start stretch" [ngClass]="{'noc-highlight-modified': evidence.evidence?.modified}">
      <div class="noc-cell-floating-title">
        Evidence
      </div>
      <span class="">{{evidence.evidence?.label}}<br>
        <a (click)="$event.stopPropagation()" href="{{evidence.evidence?.url}}" target="_blank">
          {{ evidence.evidence?.id }}
        </a>
      </span>
      <button mat-icon-button (click)="removeEvidence(evidence)" class="noc-delete-button" aria-label="Delete Evidence">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
      <noctua-inline-editor *ngIf="noctuaUserService.user && options.editableEvidence" [cam]="cam" [activity]='activity'
        [entity]="entity" [category]="EditorCategory.evidence" [evidenceIndex]="i" class="noc-edit-button">
      </noctua-inline-editor>
    </div>
    <div *ngIf="settings.showReference" class="noc-reference-cell noc-box-cell" fxLayout="column"
      fxLayoutAlign="start stretch"
      [ngClass]="{'noc-highlight-match': evidence.referenceEntity?.highlight,
            'noc-highlight-modified': evidence.referenceEntity?.modified,
            'noc-highlight-match-current': camService.currentMatch?.uuid && evidence.referenceEntity?.uuid===camService.currentMatch?.uuid}">
      <div class="noc-cell-floating-title">
        Reference
      </div>
      <button mat-icon-button (click)="removeReference(evidence)" class="noc-delete-button"
        aria-label="Delete Evidence">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
      <span *ngIf="!evidence.referenceEntity?.url" class="">{{evidence.reference}}</span>
      <span *ngIf="evidence.referenceEntity?.url" class="">
        <a (click)="$event.stopPropagation()" href="{{evidence.referenceEntity?.url}}" target="_blank">
          {{evidence.reference}}
        </a>
      </span>
      <noctua-inline-editor *ngIf="noctuaUserService.user && options.editableReference" [cam]="cam"
        [activity]='activity' [entity]="entity" [category]="EditorCategory.reference" [evidenceIndex]="i"
        class="noc-edit-button">
      </noctua-inline-editor>
    </div>
    <div *ngIf="settings.showWith" class="noc-with-cell noc-box-cell" fxLayout="column" fxLayoutAlign="start stretch"
      [ngClass]="{'noc-highlight-modified': evidence.withEntity?.modified}">
      <div class="noc-cell-floating-title">
        With
      </div>
      <button mat-icon-button (click)="removeWith(evidence)" class="noc-delete-button" aria-label="Delete Evidence">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
      <span *ngIf="!evidence.withEntity?.url" class="">{{evidence.with}}</span>
      <span *ngIf="evidence.withEntity?.url" class="">
        <a (click)="$event.stopPropagation()" href="{{evidence.withEntity?.url}}" target="_blank">
          {{evidence.with}}
        </a>
      </span>
      <noctua-inline-editor *ngIf="noctuaUserService.user && options.editableWith" [cam]="cam" [activity]='activity'
        [entity]="entity" [category]="EditorCategory.with" [evidenceIndex]="i" class="noc-edit-button">
      </noctua-inline-editor>
    </div>
    <div *ngIf="noctuaUserService.user && options.showEvidenceMenu" class="noc-cell noc-action-cell" fxLayout="column"
      fxLayoutAlign="center center">
      <button mat-icon-button (click)="updateCurrentMenuEvent($event)" class="noc-action-button" fxFlex="40px"
        [matMenuTriggerFor]="evidenceMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #evidenceMenu="matMenu">
        <button mat-menu-item (click)="addEvidence(entity)" class="">
          Add Evidence
        </button>
        <button (click)="removeEvidence(entity,i)" mat-menu-item>
          Remove Evidence
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<div *ngIf="entity.predicate.evidence.length===0" class="noc-no-info" fxLayout="row" fxLayoutAlign="start center">
  no evidence present.
  <button *ngIf="options.showAddEvidenceButton" mat-button (click)="createEvidence()" class="">
    +
  </button>
</div>