<div class="dialog-content-wrapper noc-dialog">
  <mat-toolbar class="mat-primary m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        {{title}} </span>
      <span fxFlex></span>
      <button mat-stroked-button (click)="cancel()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="noc-dialog-body noc-form-section" noctuaPerfectScrollbar>
    <div class="noc-stats-results" fxLayout="column" fxLayoutAlign="start center">
      <div class="alert alert-warning w-100-p">
        {{message}}
        <div class="noc-stat-summary w-100-p">
          <span class="noc-number">
            {{summary?.stats.totalChanges }}
          </span>
          unsaved changes across
          <span class="noc-number">
            {{summary?.stats.camsCount }} model(s)
          </span>
        </div>
      </div>
      <table fxFlex="1 1 auto" mat-table class="noc-summary-table" [dataSource]="stats"
        [@animateStagger]="{value:'50'}">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef fxFlex="250px" fxLayout="row" fxLayoutAlign="start center">
            Category
          </th>
          <td mat-cell *matCellDef="let stat" fxFlex="250px" class="noc-title" fxLayout="row"
            fxLayoutAlign="start center">
            {{stat.category }}
          </td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef fxFlex="" fxLayout="row" fxLayoutAlign="start center">Changes</th>
          <td mat-cell *matCellDef="let stat" fxFlex="" fxLayout="row" fxLayoutAlign="start center">
            {{stat.count}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="$event.stopPropagation()" *matRowDef="let stat; columns: displayedColumns;">
        </tr>
      </table>
      <!--   <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="200px">
          Summary
        </div>
        <div fxFlex>
          Details
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="200px">
          Terms
        </div>
        <div fxFlex>
          <div *ngFor="let modelSummary of summary">
            <div *ngFor="let term of modelSummary.changes?.terms">
              <div *ngFor="let termHistory of term.termHistory">
                {{term.label}} -> {{termHistory.label}}
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div *ngIf="!readonlyDialog" class="m-0 p-16 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">
      {{cancelLabel}}</button>
    <button (click)="confirm()" type="button" mat-raised-button color="primary">
      {{confirmLabel}}
    </button>
  </div>
  <div *ngIf="readonlyDialog" class="m-0 p-16 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>