<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Search Database</span>
      <span fxFlex></span>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="start start" class="noc-dialog-body">
    <div class="h-100-p" fxFlex="200px" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Select Term
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-annoton-node-card" (click)="selectAnnotonNode(annotonNode)"
          *ngFor="let annotonNode of annotonNodes">
          {{annotonNode.getTerm().label}}
        </div>
      </div>
    </div>
    <div class="h-100-p" fxFlex="100%" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Select Evidence <small>(optional)</small>
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <table mat-table [dataSource]="dataSource" class="w-100-p">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="evidence">
            <th mat-header-cell *matHeaderCellDef> Evidence </th>
            <td mat-cell *matCellDef="let evidence"> {{evidence.getEvidence().label}} </td>
          </ng-container>
          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let evidence"> {{evidence.getReference()}} </td>
          </ng-container>
          <ng-container matColumnDef="with">
            <th mat-header-cell *matHeaderCellDef> With </th>
            <td mat-cell *matCellDef="let evidence"> {{evidence.getWith()}} </td>
          </ng-container>
          <ng-container matColumnDef="assignedBy">
            <th mat-header-cell *matHeaderCellDef> Assigned By </th>
            <td mat-cell *matCellDef="let evidence"> {{evidence.getAssignedBy()}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)="save()" type="button" mat-raised-button color="primary">Done</button>
  </div>
</div>
