<div class="dialog-content-wrapper noc-dialog" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="m-0 noc-dialog-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-dialog-header-title">
      Search Database</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" class="noc-dialog-body">
    <div class="h-100-p noc-left-panel noc-form-section" fxFlex="200px" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading w-100-p">
          Select Term
          <div class="text-truncate">
            <small>Please select below</small>
          </div>
        </div>
      </div>
      <div class="noc-section-body w-100-p" noctuaPerfectScrollbar>
        <div class="noc-term-box" *ngFor="let annotonNode of annotonNodes" (click)="selectAnnotonNode(annotonNode)"
          [ngClass]="{'noc-term-selected': annotonNode.getTerm().id===selectedAnnotonNode?.getTerm().id}" fxLayout="row"
          fxLayoutAlign="start center">
          <mat-icon fkFlex="25px" class="green-300-fg mr-4">check_circle</mat-icon>
          {{annotonNode.getTerm().label}}
        </div>
      </div>
    </div>
    <div class="h-100-p noc-right-panel noc-form-section" fxFlex="100%" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header  w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Select Evidence <small>(optional)</small>
          <div class="text-truncate">
            <small>{{selectedAnnotonNode?.getTerm().label}}</small>
          </div>
        </div>
      </div>
      <div class="noc-section-body w-100-p" noctuaPerfectScrollbar>
        <mat-table class="noc-evidence-table w-100-p" #table [dataSource]="dataSource" matSort
          [@animateStagger]="{value:'50'}" noctuaPerfectScrollbar>
          <ng-container matColumnDef="select" class="">
            <mat-header-cell *matHeaderCellDef fxFlex="30px">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="30px">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="evidence">
            <mat-header-cell *cdkHeaderCellDef fxFlex="40%">Evidence</mat-header-cell>
            <mat-cell *cdkCellDef="let evidence" fxFlex="40%">
              <p class="">{{evidence.evidence?.label}}</p>
            </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="reference">
            <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Reference</mat-header-cell>
            <mat-cell *cdkCellDef="let evidence" fxFlex="20%">
              <p class="">{{evidence.reference}}</p>
            </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="with">
            <mat-header-cell *cdkHeaderCellDef fxFlex="20%">With</mat-header-cell>
            <mat-cell *cdkCellDef="let evidence" fxFlex="20%">
              <p class="">{{evidence.with}}</p>
            </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="assignedBy">
            <mat-header-cell *cdkHeaderCellDef fxFlex="">Assigned By</mat-header-cell>
            <mat-cell *cdkCellDef="let evidence" fxFlex="">
              <p class="">{{evidence.assignedBy?.label}}</p>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  <div class="m-0 p-16 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)="save()" type="button" mat-raised-button color="primary">Done</button>
  </div>
</div>
