<div class="dialog-content-wrapper noc-dialog">
  <div class="m-0 noc-dialog-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-dialog-header-title">
      Edit Title & Confirm Copy</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-dialog-body pt-20">
    <div fxLayout="row" fxLayoutAlign="start center" class="noc-form-section w-100-p">
      <ng-container [formGroup]="camForm">
        <div class="noc-edit-field p-4" fxFlex="">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-label>Title</mat-label>
            <textarea type="text" matInput formControlName="title" rows="2"></textarea>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="m-0 p-8 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)='save()' type="button" mat-raised-button color="primary">Save</button>
  </div>
</div>