<div *ngIf="noctuaAnnotonConnectorService.selectedPanel.id === noctuaAnnotonConnectorService.panel.selectConnector.id"
  fxLayout="column" fxLayoutAlign="start stretch" class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Select Downstream Activity</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body" fxLayout="row" fxLayoutAlign="start start">
    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <div class="noc-annoton-list h-100-p p-12" noctuaPerfectScrollbar>
      <div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
        <ng-container *ngFor="let connector of noctuaAnnotonConnectorService.connectors">
          <div *ngIf="!connector.connectorAnnoton" class="noc-annoton-connector-box">
            <div class="noc-annoton-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div>
                {{ connector.annoton.presentation.mfText}}<br>
                <small> enabled by:</small>
                <strong>{{ connector.annoton.presentation.gpText}}</strong>
              </div>
              <span fxFlex></span>
              <button mat-raised-button color="primary" class="noc-rounded-button noc-sm"
                (click)="openAnnotonConnector(connector.annoton)">
                Select
              </button>
            </div>
          </div>
          <div *ngIf="connector.connectorAnnoton" class="noc-annoton-connector-box">
            <div class="noc-annoton-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div>
                {{ connector.annoton.presentation.mfText}}<br>
                <small> enabled by:</small>
                <strong>{{ connector.annoton.presentation.gpText}}</strong>
              </div>
              <span fxFlex></span>
              <button mat-stroked-button color="primary" class="noc-rounded-button noc-sm"
                (click)="openAnnotonConnector(connector.annoton)">
                <small>
                  Edit Connection
                </small>
              </button>
              <button mat-icon-button class="noc-action-button" fxFlex="40px"
                [matMenuTriggerFor]="connectionOptionMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #connectionOptionMenu="matMenu" class="noc-dropdown-menu">
                <h6 class="noc-menu-heading"> Danger Zone</h6>
                <button mat-menu-item class="" (click)="deleteAnnoton(connector.connectorAnnoton)">
                  Delete Connection
                </button>
              </mat-menu>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section noc-bt w-100-p">
              <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
                <div class="noc-section-heading">
                  Selected Causal Relation
                </div>
              </div>
              <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="noc-note" fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="green-500-fg">check_circle</mat-icon>
                  <span class="noc-description">
                    {{connector.connectorAnnoton?.rule.r1Edge?.label}}
                    <span *ngIf="connector.connectorAnnoton?.rule.r2Edge">
                      <strong> + </strong> {{connector.connectorAnnoton?.rule.r2Edge?.label}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section noc-bt w-100-p">
              <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
                <div class="noc-section-heading">
                  Notes
                </div>
              </div>
              <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="noc-note" [ngClass]="{'noc-note-disabled':!note.condition}"
                  *ngFor="let note of connector.connectorAnnoton?.rule.notes" fxLayout="row"
                  fxLayoutAlign="start center">
                  <mat-icon *ngIf="note.condition" class="green-500-fg">check_circle</mat-icon>
                  <mat-icon *ngIf="!note.condition">check_circle_outline</mat-icon>
                  <span class="noc-description">
                    {{note.label}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>
<form
  *ngIf="noctuaAnnotonConnectorService.selectedPanel.id === noctuaAnnotonConnectorService.panel.annotonConnectorForm.id"
  name="connectorFormGroup" [formGroup]="connectorFormGroup" fxLayout="column" fxLayoutAlign="start stretch"
  class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button
      (click)="noctuaAnnotonConnectorService.selectPanel(noctuaAnnotonConnectorService.panel.selectConnector)"
      class="noc-rounded-button noc-sm" color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="noc-drawer-header-title">
      Causal Relation Form</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body" fxLayout="row" fxLayoutAlign="start start">
    <div *ngIf="connectorFormGroup" class="noc-connector-form h-100-p" noctuaPerfectScrollbar>
      <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section w-100-p">
        <div class="noc-section-body w-100-p p-0" fxLayout="column" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutAlign="space-between center " class="noc-summary-row w-100-p">
            <div class="noc-annoton-box" fxLayout="column" fxLayoutAlign="center center">
              <div class="noc-annoton-box-header">
                Upstream Activity
              </div>
              <div class="p-8 w-100-p" fxFlex="100%">
                <small>{{ connectorAnnoton?.upstreamAnnoton?.presentation.mfText}}</small>
                enabled by:
                <strong>{{ connectorAnnoton?.upstreamAnnoton?.presentation.gpText}}</strong>
              </div>
            </div>
            <div>
              <mat-icon class="s-32">arrow_right_alt</mat-icon>
            </div>
            <div class="noc-annoton-box" fxLayout="column" fxLayoutAlign="center center">
              <div class="noc-annoton-box-header">
                Downstream Activity
              </div>
              <div class="p-8 w-100-p" fxFlex="100%">
                <small>{{ connectorAnnoton?.downstreamAnnoton?.presentation.mfText}}</small>
                enabled by:
                <strong>{{ connectorAnnoton?.downstreamAnnoton?.presentation.gpText}}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="noc-form-section p-0 w-100-p">
          <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="noc-section-heading">
              Causal Effect
            </div>
          </div>
          <div *ngIf="connectorAnnoton?.rule.displaySection.causalEffect" class="px-8 noc-group-row" fxLayout="row"
            fxLayoutAlign="start center">
            <div fxFlex="180px">
              <p> Direction of Effect </p>
            </div>
            <mat-radio-group fxFlex="" formControlName="causalEffect" fxLayout="column" fxLayoutAlign="start start">
              <mat-radio-button *ngFor="let causalEffect of noctuaFormConfigService.causalEffect.options"
                class="noc-radio-button-rounded mb-8" [value]="causalEffect"
                [checked]="causalEffect.name === connectorAnnoton?.rule.effectDirection.direction.name">
                {{causalEffect.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="connectorAnnoton?.rule.displaySection.mechanism" class="px-8 noc-group-row" fxLayout="row"
            fxLayoutAlign="start center">
            <div fxFlex="180px" class="pr-8">
              <p>Mechanism
                <mat-icon
                  matTooltip="Do you know the mechanism for how the upstream activity affects the downstream activity?"
                  [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">help</mat-icon>
              </p>
            </div>
            <mat-radio-group fxFlex="" formControlName="mechanism" fxLayout="column" fxLayoutAlign="start start">
              <mat-radio-button *ngFor="let mechanism of noctuaFormConfigService.mechanism.options"
                class="noc-radio-button-rounded mb-8" [value]="mechanism"
                [checked]="mechanism.name === connectorAnnoton?.rule.mechanism.mechanism.name">
                {{mechanism.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="connectorAnnoton?.rule.displaySection.process" class="noc-form-section p-0 w-100-p">
          <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="noc-section-heading">
              Choose activity regulating process
            </div>
          </div>
          <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="px-8 noc-group-row" fxLayout="column">
              <mat-form-field appearance="outline" class="noc-sm mb-16">
                <mat-label>Choose Process</mat-label>
                <mat-select placeholder="" formControlName="process">
                  <mat-option *ngFor="let connectorProcess of noctuaFormConfigService.connectorProcess.options"
                    [value]="connectorProcess">
                    {{connectorProcess.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="noc-sm">
                <mat-label><strong>(Optional)</strong> Has Input (GP/Chemical)</mat-label>
                <textarea type="text" matInput formControlName="hasInput" [matAutocomplete]="hasInputAuto"
                  rows="2"></textarea>
                <mat-autocomplete #hasInputAuto="matAutocomplete" [displayWith]="termDisplayFn"
                  class="noc-term-autocomplete">
                  <mat-option class="noc-term-autocomplete"
                    *ngFor="let item of connectorAnnoton?.hasInputNode?.termLookup.results" [value]="item">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                      <div class="noc-term-label">
                        {{ item.label }}
                      </div>
                      <span fxFlex></span>
                      <div class="noc-term-id">
                        {{ item.id }}
                      </div>
                    </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Evidence
          </div>
        </div>
        <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="px-12 noc-group-row" fxLayout="column">
            <div formArrayName="evidenceFormArray"
              *ngFor="let evidence of connectorFormGroup.get('evidenceFormArray')?.controls; let i = index;">
              <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <div class="p-4" fxFlex="55">
                  <mat-form-field appearance="outline" class="noc-sm w-100-p">
                    <mat-label>Evidence</mat-label>
                    <textarea type="text" matInput formControlName="evidence" [matAutocomplete]="evidenceAuto"
                      rows="2"></textarea>
                    <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
                      class="noc-term-autocomplete">
                      <mat-option *ngFor="let item of connectorAnnoton?.predicate?.evidenceLookup.results"
                        [value]="item">
                        <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                          <div class="noc-term-label">
                            {{ item.label }}
                          </div>
                          <span fxFlex></span>
                          <div class="noc-term-id">
                            {{ item.id }}
                          </div>
                        </div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="p-4" fxFlex="25">
                  <mat-form-field appearance="outline" class="noc-sm w-100-p">
                    <mat-label>Reference</mat-label>
                    <textarea matInput formControlName="reference" rows="2"></textarea>
                  </mat-form-field>
                </div>
                <div class="p-4" fxFlex fxFlex="20">
                  <mat-form-field appearance="outline" class="noc-sm w-100-p">
                    <mat-label>With</mat-label>
                    <textarea matInput formControlName="with" rows="2"></textarea>
                  </mat-form-field>
                </div>
                <span fxFlex=""></span>
                <button mat-icon-button class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
                  <button mat-menu-item class="" (click)="clearValues()">
                    Clear Values
                  </button>
                  <h6 class="noc-menu-heading"> Evidence</h6>
                  <button mat-menu-item class="" (click)="addEvidence()">
                    Add Evidence
                  </button>
                  <button (click)="removeEvidence(i)" mat-menu-item>
                    Remove Evidence
                  </button>
                  <button mat-menu-item class="" (click)="openSelectEvidenceDialog(evidence)">
                    Clone Evidence
                  </button>
                  <button mat-menu-item class="" (click)="addNDEvidence()">
                    Add ND Reference
                  </button>

                  <!--
                    <button mat-menu-item *ngIf="entity.treeLevel===0" class="" (click)="toggleIsComplement(entity)">
                      NOT Qualifier
                    </button>     
                    <button mat-menu-item class="" (click)="openMoreEvidenceDialog()">
                      More Evidence
                    </button>          
                    -->
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="noc-connector-form-notes p-8 h-100-p" noctuaPerfectScrollbar>
      <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section w-100-p">
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Notes
          </div>
        </div>
        <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="noc-note" [ngClass]="{'noc-note-disabled':!note.condition}"
            *ngFor="let note of connectorAnnoton?.rule.notes" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon *ngIf="note.condition" class="green-500-fg">check_circle</mat-icon>
            <mat-icon *ngIf="!note.condition">check_circle_outline</mat-icon>
            <span class="noc-description">
              {{note.label}} <strong>
                {{note.descriptionSuffix}}
              </strong>
            </span>
          </div>
        </div>
        <ng-container *ngIf="currentConnectorAnnoton">
          <div class="noc-section-header noc-bt" fxLayout="row" fxLayoutAlign="start center">
            <div class="noc-section-heading">
              Current Causal Relation
            </div>
          </div>
          <div class="noc-note mb-4" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="green-500-fg">check_circle</mat-icon>
            <span class="noc-description">
              {{currentConnectorAnnoton?.rule.r1Edge?.label}}
              <span *ngIf="currentConnectorAnnoton?.rule.r2Edge">
                <strong> + </strong> {{currentConnectorAnnoton?.rule.r2Edge?.label}}
              </span>
            </span>
          </div>
          <noc-graph-preview [nodes]="currentConnectorAnnoton?.graphPreview.nodes"
            [edges]="currentConnectorAnnoton?.graphPreview.edges" class="noc-graph-preview"></noc-graph-preview>
        </ng-container>
        <div class="noc-section-header noc-bt" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Suggested Causal Relation
          </div>
        </div>
        <div class="noc-note mb-4" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="green-500-fg">check_circle</mat-icon>
          <span class="noc-description">
            {{connectorAnnoton?.rule.r1Edge?.label}}
            <span *ngIf="connectorAnnoton?.rule.r2Edge">
              <strong> + </strong> {{connectorAnnoton?.rule.r2Edge?.label}}
            </span>
          </span>
        </div>
        <noc-graph-preview [nodes]="connectorAnnoton?.graphPreview.nodes" [edges]="connectorAnnoton?.graphPreview.edges"
          class="noc-graph-preview"></noc-graph-preview>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <button *ngIf="!connectorFormGroup.valid" (click)='checkErrors()' mat-button color="warn"
      class="noc-rounded-button noc-sm">
      Why is the "Save" button disabled?
    </button>
    <span fxFlex></span>
    <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button [disabled]="!connectorFormGroup.valid" (click)="save()" type="submit" class="noc-rounded-button"
      mat-raised-button color="primary">Save</button>
  </div>
</form>
