@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .noc-radio-button-rounded {
    min-width: 110px;
  }

  .noc-connector-form {
    width: 600px;
    background-color: #FFF;
    padding-bottom: 300px;
  }

  .noc-form-section {
    .noc-group-row {
      padding: 10px 0;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
    }

    .noc-hint {
      font-size: 12px;
      color: #676767;
    }
  }

  .noc-annoton-list {
    width: 600px;

    .noc-annoton-connector-box {
      margin-bottom: 12px;
      width: 100%;
      padding: 12px;
      //box-shadow: 0 1px 40px 0 #B0C1D9;
      @include mat-elevation(2);
      z-index: 4;
      border: 1px solid #2e6f9a;
      background-color: white;
      font-size: 14px;

      .noc-annoton-header {
        padding-bottom: 12px;
        font-size: 14px;
      }

      &.noc-sm {
        width: 200px;
        height: 100px;
        font-size: 12px;
      }

      .noc-form-section {
        padding-left: 0;
        background-color: transparent;

        .noc-section-header {
          padding-left: 0;
          height: 40px;
          background-color: transparent;

          .noc-section-heading {
            padding-left: 0;
            font-size: 12px;
            text-transform: uppercase;
            // line-height: 30px;
            color: map-get($primary, default);
          }
        }

        .noc-section-body {
          padding-left: 0;
        }
      }
    }
  }

  .noc-graph-preview {
    height: 400px;
    width: 100%;
  }

  .noc-connector-form-notes {
    width: 416px;
    background-color: rgba($noc-primary-color-lighter, 0.6);

    .noc-form-section {
      padding-left: 0;
      background-color: transparent;

      .noc-section-header {
        padding-left: 0;
        height: 40px;
        background-color: transparent;

        .noc-section-heading {
          padding-left: 0;
          font-size: 12px;
          text-transform: uppercase;
          // line-height: 30px;
          color: map-get($primary, default);
        }
      }

      .noc-section-body {
        padding-left: 0;
      }
    }
  }

  .noc-note {
    .noc-description {
      padding-left: 10px;
      font-size: 12px;
    }

    &.noc-note-disabled {
      mat-icon {
        color: #CCC;
      }

      color: #BBB;
    }
  }

  .noc-annoton-box {
    width: 250px;
    height: 100px;
    // padding: 12px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    @include mat-elevation(2);
    text-align: center;
    z-index: 4;
    border: 1px solid #2e6f9a;
    opacity: 1;
    cursor: move;
    background-color: white;
    font-size: 12px;

    .noc-annoton-box-header {
      @include deep-height(30px);
      width: 100%;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      font-size: 12px;
      color: #777;
    }

    &.noc-sm {
      width: 200px;
      height: 100px;
      font-size: 12px;
    }
  }

  .noc-triple {
    @include deep-height(180px);

    .noc-annoton-box {
      padding: 8px;
      @include deep-width(180px);
      @include deep-height(110px);
      font-size: 12px;
      @include mat-elevation(1);
      text-align: center;
      z-index: 4;
      border: 1px solid #2e6f9a;
      opacity: 1;
      cursor: initial;
      background-color: white;
    }

    .noc-line {
      padding: 4px;
      @include deep-height(55px);
      font-size: 10px;
      text-align: center;
      border-bottom: 2px solid #2e6f9a;
    }

    .noc-arrow {
      color: #2e6f9a;
      margin-top: 40px;
    }

    &.noc-sm {
      @include deep-height(120px);

      .noc-annoton-box {
        padding: 4px;
        @include deep-width(150px);
        @include deep-height(100px);
        font-size: 10px;
      }

      .noc-line {
        @include deep-height(50px);
        border-bottom: 1px solid #2e6f9a;
      }

      .noc-arrow {
        margin-top: 35px;
      }
    }
  }



  .noc-triple-v {
    .noc-annoton-box {
      padding: 4px;
      width: 100%;
      @include deep-height(90px);
      font-size: 12px;
      @include mat-elevation(1);
      text-align: center;
      z-index: 4;
      border: 1px solid #2e6f9a;
      opacity: 1;
      cursor: initial;
      background-color: white;
    }

    .noc-predicate {
      font-size: 10px;
    }

    .noc-line {
      stroke: #2e6f9a;
      stroke-width: 2;
    }

    .noc-arrow {
      color: #2e6f9a;
      // margin-top: 40px;
    }

  }

  .noc-header {
    @include deep-height(40px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(40px);
      @include deep-width(40px);
      line-height: 40px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-summary-row {
    @include deep-height(150px);
    background-color: #F5F5F5;
    @include mat-elevation(2);
  }
}
