<form *ngIf="connectorFormGroup" name="connectorFormGroup" [formGroup]="connectorFormGroup" fxLayout="column"
  fxLayoutAlign="start stretch" class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Causal Relation Form</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body noc-connector-form " noctuaPerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section w-100-p">
      <div class="noc-section-body w-100-p p-0" fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="center center" class="noc-summary-row w-100-p">
          <div class="noc-annoton-box" fxLayout="column" fxLayoutAlign="center center">
            <span>
              <strong>enabled by: </strong> {{ noctuaAnnotonConnectorService.subjectAnnoton?.presentation.gpText}}<br>
            </span>
          </div>
          <div>
            <mat-icon class="s-32">arrow_right_alt</mat-icon>
          </div>
          <div class="noc-annoton-box" fxLayout="column" fxLayoutAlign="center center">
            <span>
              <strong>enabled by: </strong> {{ noctuaAnnotonConnectorService.objectAnnoton?.presentation.gpText}}<br>
            </span>
          </div>
        </div>
      </div>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Causal Relation
        </div>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <mat-radio-group formControlName="causalEffect" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-radio-button *ngFor="let causalEffect of noctuaFormConfigService.causalEffect.options"
              class="mt-8 mb-4" [value]="causalEffect" fxFlex="30">
              {{causalEffect.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Are the activities consecutive?
        </div>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <mat-radio-group formControlName="annotonsConsecutive" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-radio-button class="mt-8 mb-4" [value]="true" fxFlex="30"> No</mat-radio-button>
            <mat-radio-button class="mt-8 mb-4" [value]="false" fxFlex="30"> Yes</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Evidence
        </div>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <div formArrayName="evidenceFormArray"
            *ngFor="let evidence of connectorFormGroup.get('evidenceFormArray')?.controls; let i = index;">
            <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <div class="p-4" fxFlex="55">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>Evidence</mat-label>
                  <textarea type="text" matInput formControlName="evidence" [matAutocomplete]="evidenceAuto"
                    rows="2"></textarea>
                  <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn">
                    <mat-option
                      *ngFor="let item of noctuaAnnotonConnectorService.subjectMFNode?.evidence[i]?.evidence.lookup.results"
                      [value]="item">
                      <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                        <div>
                          {{ item.id }}
                        </div>
                        <span fxFlex></span>
                        {{ item.label }}
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="p-4" fxFlex="25">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>Reference</mat-label>
                  <textarea matInput formControlName="reference" rows="2"></textarea>
                </mat-form-field>
              </div>
              <div class="p-4" fxFlex fxFlex="20">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>With</mat-label>
                  <textarea matInput formControlName="with" rows="2"></textarea>
                </mat-form-field>
              </div>
              <span fxFlex=""></span>
              <button mat-icon-button class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
                <h6 class="noc-menu-heading"> Evidence</h6>
                <button mat-menu-item class="" (click)="openSelectEvidenceDialog(evidence)">
                  Clone Evidence
                </button>
                <button mat-menu-item class="" (click)="openMoreEvidenceDialog()">
                  More Evidence
                </button>
                <button mat-menu-item class="" (click)="addEvidence()">
                  Add Evidence
                </button>
                <button (click)="removeEvidence(i)" mat-menu-item>
                  Remove Evidence
                </button>
                <button mat-menu-item class="" (click)="addNDEvidence(entity.evidence[0])">
                  Add ND Reference
                </button>
                <h6 class="noc-menu-heading"> Term </h6>
                <button mat-menu-item class="" (click)="entity.clearValues()">
                  Clear
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <button *ngIf="!connectorFormGroup.valid" (click)='checkErrors()' mat-button color="warn"
      class="noc-rounded-button noc-sm">
      Why is the "Save" button disabled?
    </button>
    <span fxFlex></span>
    <button (ngSubmit)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button [disabled]="!connectorFormGroup.valid" (click)="save()" type="submit" class="noc-rounded-button"
      mat-raised-button color="primary">Save</button>
  </div>

</form>
