@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .noc-annoton-box {
    width: 250px;
    height: 100px;
    padding: 12px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    @include mat-elevation(2);
    text-align: center;
    z-index: 4;
    border: 1px solid #2e6f9a;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
  }

  .noc-header {
    @include deep-height(40px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(40px);
      @include deep-width(40px);
      line-height: 40px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-summary-row {
    @include deep-height(150px);
    background-color: #F5F5F5;
    @include mat-elevation(2);
  }

  .noc-connector-form {
    width: 100%;
    background-color: #FFF;


  }
}
