@import "src/@noctua/scss/noctua";
:host {
  .noc-search-box {
    width: 100%;
    input[type=text] {
      &.noc-textbox-legacy {
        border-radius: 0 4px;
      }
    }
    .noc-search-button {
      border-radius: 0 4px 4px 0;
    }
    .noc-more-options-button {
      @include deep-width(25px);
      border-left: none;
      border-right: none;
    }
  }
  .noctua-search-bar {
    display: flex;
    flex: 0 1 auto;
    min-width: 64px;
    height: 64px;
    font-size: 13px;
    @include media-breakpoint-down('sm') {
      height: 56px;
    }
    .noctua-search-bar-content {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: flex-start;
      .noctua-search-bar-expander,
      .noctua-search-bar-collapser {
        margin: 0;
        @include media-breakpoint-down('sm') {
          height: 56px !important; // line-height: 56px !important;
        }
      }
      .noctua-search-bar-loader {
        width: 64px !important;
        height: 64px !important;
        line-height: 64px !important;
        @include media-breakpoint-down('sm') {
          height: 56px !important;
          line-height: 56px !important;
        }
      }
      .noctua-search-bar-collapser {
        display: none;
      }
      #noctua-search-bar-input {
        display: none;
        flex: 1 0 auto;
        min-height: 64px;
        background-color: transparent;
        font-size: 16px;
      }
    }
    &.expanded {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      .noctua-search-bar-content {
        #noctua-search-bar-input {
          display: flex;
        }
        .noctua-search-bar-collapser {
          display: flex;
        }
      }
    }
  }
  body {
    &.noctua-search-bar-expanded {
      #toolbar {
        z-index: 999 !important;
      }
    }
  }
}
