<div class="noctua-search-bar" [ngClass]="{'expanded':!collapsed}">
  <div class="noctua-search-bar-content">
    <div *ngIf="collapsed" class="noc-search-box">
      <input class="noc-textbox-legacy noctua-search-bar-expander" type="text" placeholder="Search" (input)="search($event)" fxFlex>
      <button mat-stroked-button class="noc-button-border noc-more-options-button p-0" aria-label="more options">
        <mat-icon class="s-18 secondary-text">arrow_drop_down</mat-icon>
      </button>
      <button mat-stroked-button class="noc-button-border noc-search-button p-0" aria-label="Search">
        <mat-icon class="s-18 secondary-text">search</mat-icon>
      </button>
    </div>
    <input matInput id="noctua-search-bar-input" class="ml-24" type="text" placeholder="Search" (input)="search($event)" fxFlex>
    <button mat-icon-button class="noctua-search-bar-collapser" (click)="collapse()" aria-label="Collapse Search Bar">
      <mat-icon class="s-24 secondary-text">close</mat-icon>
    </button>
  </div>
</div>
