@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;
  background-color: #777;
}
noc-activity-tree-node {
  margin: 20px 10px;
  display: block;
  width: 60%;
  background-color: #fff;
}
