<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button (click)="toggleLeftDrawer(reviewService.leftPanel.search)" matTooltip="Search"
      [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <mat-icon> search </mat-icon>
    </button>
    <button mat-icon-button (click)="toggleLeftDrawer(reviewService.leftPanel.curator)" matTooltip="Search by curator"
      [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
      <mat-icon> group </mat-icon>
    </button>
    <button mat-icon-button (click)="toggleLeftDrawer(reviewService.leftPanel.species)" matTooltip="Search by species"
      [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
      <mat-icon> pets </mat-icon>
    </button>
  </div>
  <mat-drawer-container class="w-100-p h-100-p noc-drawer-container" fxLayout="row" fxLayoutAlign="start start">
    <mat-drawer #leftDrawer class="noc-left-drawer" fxFlex="400px" mode="side" position="start">
      <div [ngSwitch]="reviewService.selectedLeftPanel.id" class="h-100-p">
        <noc-review-search *ngSwitchCase="reviewService.leftPanel.search.id"></noc-review-search>
        <noc-review-curators *ngSwitchCase="reviewService.leftPanel.curator.id"></noc-review-curators>
        <noc-review-species *ngSwitchCase="reviewService.leftPanel.species.id"></noc-review-species>
      </div>
    </mat-drawer>
    <mat-drawer-content class="cams-table" noctuaPerfectScrollbar>
      <div class="mat-elevation-z2 mb-8">
        <div class="noc-cams-table-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="50px" (click)="$event.stopPropagation()">
            <button mat-icon-button (click)="toggleSummaryExpand()" class="noc-br">
              <mat-icon *ngIf="!summary.expanded" class="s-16 fa fa-caret-right">
              </mat-icon>
              <mat-icon *ngIf="summary.expanded" class="s-12 mat-icon-rtl-mirror">
                signal_cellular_4_bar
              </mat-icon>
            </button>
          </div>
          <div class="" fxFlex="200px">
            <div class="">
              <small>Models: </small> {{cams.length }}
            </div>
          </div>
          <span fxFlex=""></span>
          <div class="" fxFlex="150px" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="refresh(cam)" class="noc-bl">
              <mat-icon class="">
                refresh
              </mat-icon>
            </button>
            <button mat-icon-button (click)="toggleSummaryExpand(cam)" class="noc-bl">
              <mat-icon *ngIf="!summary.expanded" class="">
                keyboard_arrow_down
              </mat-icon>
              <mat-icon *ngIf="summary.expanded" class="">
                keyboard_arrow_up
              </mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="summary.expanded" class="noc-cam-table-body p-8 w-100-p" fxLayout="column" fxLayoutAlign="start">
          <h2>
            Search Summary
          </h2>
          <div class="pt-16 pb-16" *ngFor="let summaryDetail of summary.detail | keyvalue" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="200px">
              <strong> {{summaryDetail.key}}</strong>
            </div>
            <div>
              :{{summaryDetail.value}}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="sparqlService.loading" class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
        </mat-progress-spinner>
      </div>
      <div *ngIf="!sparqlService.loading" class="w-100-p p-8">
        <div *ngFor="let cam of cams" class="mat-elevation-z2 mb-16">
          <div class="noc-cam-table-heading" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50px" (click)="$event.stopPropagation()">
              <button mat-icon-button (click)="toggleExpand(cam)" class="noc-br">
                <mat-icon *ngIf="!cam.expanded" class="s-16 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="cam.expanded" class="s-12 mat-icon-rtl-mirror">
                  signal_cellular_4_bar
                </mat-icon>
              </button>
            </div>
            <div class="" fxFlex="200px">
              <div class="text-truncate">
                <small>Id: </small> {{cam.model?.id }}
              </div>
            </div>
            <div class="" fxFlex="50%">
              <div class="text-truncate">
                <small>Title: </small> {{cam.model?.title }}
              </div>
            </div>
            <span fxFlex=""></span>
            <div class="" fxFlex="150px" fxLayout="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="changeView" class="noc-bl">
                <mat-icon>apps</mat-icon>
              </button>
              <mat-menu #changeView="matMenu">
                <a *ngFor="let workbench of cam.model?.modelInfo.workbenches" href="{{workbench.url}}" target="_blank"
                  mat-menu-item>
                  {{workbench.label}}
                </a>
              </mat-menu>
              <button mat-icon-button (click)="refresh(cam)" class="noc-bl">
                <mat-icon class="">
                  refresh
                </mat-icon>
              </button>

              <button mat-icon-button (click)="toggleExpand(cam)" class="noc-bl">
                <mat-icon *ngIf="!cam.expanded" class="">
                  keyboard_arrow_down
                </mat-icon>
                <mat-icon *ngIf="cam.expanded" class="">
                  keyboard_arrow_up
                </mat-icon>
              </button>
            </div>
          </div>
          <app-cam-table [cam]="cam" *ngIf="cam.expanded" class="noc-cam-table-body" fxLayout="row" fxLayoutAlign="start center">
          </app-cam-table>
        </div>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="noc-right-drawer" fxFlex="850px" noctuaPerfectScrollbar mode="side" position="end">
      <noc-cam-row>
      </noc-cam-row>
    </mat-drawer>
  </mat-drawer-container>
</div>
