<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="cams-table" fxFlex="" noctuaPerfectScrollbar>
    <div class="noc-cams-table-header w-100-p">
      <div fxFlex="80px">

      </div>
      <div fxFlex="150px">
        <p> Annotated Entity</p>
      </div>
      <div fxFlex="120px">
        <p>Relationship</p>
      </div>
      <div fxFlex="50px">
        <p>Asp</p>
      </div>
      <div fxFlex="150px">
        <p>Term</p>
      </div>
      <div fxFlex="120px">
        <p>Relationship Ext</p>
      </div>
      <div fxFlex="150px">
        <p>Extension</p>
      </div>
      <div fxFlex="150px">
        <p>Evidence</p>
      </div>
      <div fxFlex="120px">
        <p>Reference</p>
      </div>
      <div fxFlex="120px">
        <p>Evidence</p>
      </div>
      <div fxFlex="120px">
        <p>With</p>
      </div>
      <div fxFlex="120px">
        <p>Assigned By</p>
      </div>
    </div>
    <div *ngFor="let cam of cams">
      <div class="noc-cam-table-heading" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="80px" (click)="$event.stopPropagation()">
          <button mat-icon-button (click)="toggleExpand(cam)" ckass="noc-button-small">
            <mat-icon *ngIf="!cam.expanded" class="s-16 fa fa-caret-right">
            </mat-icon>
            <mat-icon *ngIf="cam.expanded" class="mat-icon-rtl-mirror">
              refresh
            </mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="changeView">
            <mat-icon>
              apps
            </mat-icon>
          </button>
          <mat-menu #changeView="matMenu">
            <a *ngFor="let workbench of cam.model?.modelInfo.workbenches" href="{{workbench.url}}" target="_blank"
              mat-menu-item>
              {{workbench.label}}
            </a>
          </mat-menu>
        </div>
        {{cam.model?.title }}
      </div>
      <app-cam-table [camRow]="cam.camRow" class="noc-cam-table-body" fxLayout="row" fxLayoutAlign="start center">

      </app-cam-table>
    </div>
  </div>
  <div class="cam-detail" fxFlex="400px" noctuaPerfectScrollbar>
    <cam-row>
    </cam-row>
  </div>
</div>
