<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-cam-form noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Copy Model</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Model Information
        </div>
        <span fxFlex></span>
      </div>
    </div>
    <div class="noc-form-section mb-20" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-body p-8" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-item-body w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="noc-title">ID:</div> {{cam.id}}
            </div>
            <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="noc-title">Title:</div> {{cam.title}}
            </div>
            <div class="noc-item" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-title">State:</div> {{cam.state?.label}}
            </div>
            <div class="w-100-p">
              <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="noc-title">Contributors:</div>
                <div class="mr-8" *ngFor="let contributor of cam.contributors" matTooltip="{{contributor.name}}"
                  [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                  {{contributor.name ? contributor.name :contributor.orcid}};
                </div>
              </div>
              <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="noc-title">Groups:</div>
                <span class="" *ngFor="let group of cam.groups" matTooltip="{{group.name}}"
                  [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                  <div class="noc-chip-label">
                    {{group.name ? group.name :group.url}}
                  </div>
                </span>
              </div>
              <div class="noc-item" fxLayout="row" fxLayoutAlign="start center">
                <div class="noc-title">Open In:</div>
                <a class="mr-4" [href]='cam.model?.modelInfo?.noctuaVPEUrl' target="_blank">
                  Pathway Editor
                </a>
                <span>&#8226;</span>
                <a class="ml-4 mr-4" [href]='cam.model?.modelInfo?.noctuaFormUrl' target="_blank">
                  Form Editor
                </a>
                <span>&#8226;</span>
                <a class="ml-4" [href]='cam.model?.modelInfo?.graphEditorUrl' target="_blank">
                  Graph Editor
                </a>
              </div>
            </div>

            <div>
              <mat-checkbox class="example-margin" [(ngModel)]="includeEvidence">Include Evidence</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Duplicated Model Information
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body p-8" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngIf="!duplicatedCam" class="noc-item noc-no-info" fxLayout="row" fxLayoutAlign="start center">
          No info yet
        </div>
        <div *ngIf="loading" class="noc-item noc-no-info" fxLayout="row" fxLayoutAlign="start center">
          Working on it ...
        </div>
        <div *ngIf="duplicatedCam" class="noc-item-body w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="noc-title">ID:</div> {{duplicatedCam.id}}
            </div>
            <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="noc-title">Title:</div> {{duplicatedCam.title}}
            </div>
            <div class="noc-item" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-title">State:</div> {{duplicatedCam.state?.label}}
            </div>
            <div class="w-100-p">
              <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="noc-title">Contributors:</div>
                <div class="mr-8" *ngFor="let contributor of duplicatedCam.contributors"
                  matTooltip="{{contributor.name}}" [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                  {{contributor.name ? contributor.name :contributor.orcid}};
                </div>
              </div>
              <div class="noc-item" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="noc-title">Groups:</div>
                <span class="" *ngFor="let group of duplicatedCam.groups" matTooltip="{{group.name}}"
                  [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                  <div class="noc-chip-label">
                    {{group.name ? group.name :group.url}}
                  </div>
                </span>
              </div>
              <div class="noc-item" fxLayout="row" fxLayoutAlign="start center">
                <div class="noc-title">Open In:</div>
                <a class="mr-4" [href]='duplicatedCam.model?.modelInfo?.noctuaVPEUrl' target="_blank">
                  Pathway Editor
                </a>
                <span>&#8226;</span>
                <a class="ml-4 mr-4" [href]='duplicatedCam.model?.modelInfo?.noctuaFormUrl' target="_blank">
                  Form Editor
                </a>
                <span>&#8226;</span>
                <a class="ml-4" [href]='duplicatedCam.model?.modelInfo?.graphEditorUrl' target="_blank">
                  Graph Editor
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)="copyModel()" type="submit" class="noc-rounded-button" mat-raised-button color="primary">Copy
      Model</button>
  </div>
</div>