<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Edit {{cam?.model?.title}}</span>
      <span fxFlex></span>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="noc-dialog-body" noctuaPerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center" class="w-100-p">
      <form fxLayout="column" fxLayoutAlign="start stretch" name="searchForm" [formGroup]="searchForm" class="noc-body w-100-p noc-search-form">
        <div>
          {{cam.relationship}}
        </div>
        <div>
          {{cam.term.id}}
        </div>
        <mat-form-field appearance="standard" class="" fxFlex="">
          <mat-label>Annotated Entity</mat-label>
          <input matInput formControlName="annotatedEntity" placeholder="Gene Product" />
        </mat-form-field>

        <mat-form-field class="">
          <input type="text" matInput formControlName="term" placeholder="Go Term" [matAutocomplete]="termAuto" />
          <mat-autocomplete #termAuto="matAutocomplete">
            <mat-option *ngFor="let item of searchFormData['goTerm']?.searchResults" [value]="item.id">
              <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                <div>
                  {{ item.id }}
                </div>
                <span fxFlex></span>
                {{ item.label }}
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
          <mat-form-field appearance="standard" class="" fxFlex="50">
            <mat-label>Evidence</mat-label>
            <input matInput formControlName="evidence" placeholder="Evidence" />
          </mat-form-field>
          <mat-form-field appearance="standard" class="" fxFlex="25">
            <mat-label>Reference</mat-label>
            <input matInput formControlName="reference" placeholder="Reference" />
          </mat-form-field>
          <mat-form-field appearance="standard" class="" fxFlex="25">
            <mat-label>With</mat-label>
            <input matInput formControlName="with" placeholder="With" />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">\
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)="search()" type="button" mat-raised-button color="primary">Save</button>
  </div>
</div>
