@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$rotate-graph: 235deg;

:host {
  padding: 0px;
  width: 100%;
  background-color: #F7F7F7;

  .icon-rotate-graph {
    -webkit-transform: rotate($rotate-graph);
    -moz-transform: rotate($rotate-graph);
    -ms-transform: rotate($rotate-graph);
    -o-transform: rotate($rotate-graph);
    transform: rotate($rotate-graph);
  }



  .noc-search-table-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    @include deep-height(30px);
    border-bottom: $noc-primary-color-light solid 1px;

    .noc-header-cell {
      padding: 0 10px;
      font-size: 10px;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .noc-drawer-container {
    background-color: #DDD;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(30px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .noc-cams-table {
    background-color: #F7F7F7;
    font-size: 12px;

    //  @include mat-elevation(1);

    width: 100%;
    @include deep-height(100%);
    padding-bottom: 300px;
    // position: relative;
    //  flex: 1 1 auto;
    //    border-bottom: 1px solid rgba(0, 0, 0, .12);
    //  overflow: auto;

    table {
      @include deep-width(100%);
    }

    tr.mat-row {
      height: auto;
      // padding: 10px 5px;
    }


    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      //color: #0F0; // map-get($primary, default);
      font-weight: bold;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }

    .mat-header-row {

      @include deep-height(30px);
      border-bottom: $noc-primary-color-light solid 1px;

    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .noc-title {
      font-size: 12px;
    }

    .noc-model-state {
      mat-chip {
        @include deep-height(25px);
        font-size: 10px;
      }

    }

  }



  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: #BBB solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }

}
