<form *ngIf="annotonEntityFormGroup" name="annotonEntityFormGroup" [formGroup]="annotonEntityFormGroup"
  fxLayout="column" fxLayoutAlign="start stretch" class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Edit Term</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-annoton-entity-form noc-form-section w-100-p">
      <div class="noc-section-body w-100-p" fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="center center" class="noc-summary-row w-100-p">
          <div class="noc-annoton-box" fxLayout="column" fxLayoutAlign="center center">
            <span>
              <strong>enabled by: </strong> {{annoton?.presentation.gpText}}
            </span>
          </div>
        </div>
      </div>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Term
        </div>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="p-12" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
          <mat-form-field class="noc-sm w-100-p" appearance="outline">
            <mat-label>{{termNode.label}}</mat-label>
            <textarea type="text" matInput formControlName="term" [matAutocomplete]="termAuto" row="2">
          </textarea>
            <mat-autocomplete #termAuto="matAutocomplete" [displayWith]="termDisplayFn" class="noc-term-autocomplete">
              <mat-option *ngFor="let item of termNode?.termLookup.results" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Evidence
        </div>
      </div>
      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-8 noc-annoton-group-row" fxLayout="column">
          <div formArrayName="evidenceFormArray"
            *ngFor="let evidence of annotonEntityFormGroup.get('evidenceFormArray')?.controls; let i = index;">
            <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <div class="p-4" fxFlex="55">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>Evidence</mat-label>
                  <textarea type="text" matInput formControlName="evidence" [matAutocomplete]="evidenceAuto"
                    rows="2"></textarea>
                  <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
                    class="noc-term-autocomplete">
                    <mat-option *ngFor="let item of termNode?.predicate?.evidenceLookup.results" [value]="item">
                      <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                        <div class="noc-term-label">
                          {{ item.label }}
                        </div>
                        <span fxFlex></span>
                        <div class="noc-term-id">
                          {{ item.id }}
                        </div>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="p-4" fxFlex="25">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>Reference</mat-label>
                  <textarea matInput formControlName="reference" rows="2"></textarea>
                </mat-form-field>
              </div>
              <div class="p-4" fxFlex fxFlex="20">
                <mat-form-field appearance="outline" class="noc-sm w-100-p">
                  <mat-label>With</mat-label>
                  <textarea matInput formControlName="with" rows="2"></textarea>
                </mat-form-field>
              </div>
              <span fxFlex=""></span>
              <button mat-icon-button class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
                <!--
                    <h6 class="noc-menu-heading"> Search </h6>
              
                <button mat-menu-item *ngIf="termNode.aspect" class="" (click)="openSearchDatabaseDialog(termNode)">
                  Search Annotations
                </button>
                <h6 class="noc-menu-heading"> Evidence</h6>
                <button mat-menu-item class="" (click)="openSelectEvidenceDialog(evidence)">
                  Clone Evidence
                </button>
                <button mat-menu-item class="" (click)="openMoreEvidenceDialog()">
                  More Evidence
                </button>
                <button mat-menu-item class="" (click)="addEvidence()">
                  Add Evidence
                </button>
                <button (click)="removeEvidence(i)" mat-menu-item>
                  Remove Evidence
                </button>
                <button mat-menu-item class="" (click)="addNDEvidence(termNode.evidence[0])">
                  Add ND Reference
                </button>
                <h6 class="noc-menu-heading"> Term </h6>
                <button mat-menu-item class="" (click)="termNode.clearValues()">
                  Clear
                </button>
              -->
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <button *ngIf="!annotonEntityFormGroup.valid" (click)='checkErrors()' mat-button color="warn"
      class="noc-rounded-button noc-sm">
      Why is the "Save" button disabled?
    </button>
    <span fxFlex></span>
    <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button [disabled]="!annotonEntityFormGroup.valid" (click)="save()" type="submit" class="noc-rounded-button"
      mat-raised-button color="primary">Save</button>
  </div>
</form>
