<div fxLayout="column" fxLayoutAlign="start center" class="w-100-p">
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-header w-100-p">
    <div class="noc-title">
      Advanced Search
    </div>
    <span fxFlex></span>
    <button type="button" mat-icon-button color="" class="">
      <mat-icon class="s-16 secondary-text">close</mat-icon>
    </button>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch" name="searchForm" [formGroup]="searchForm"
    class="noc-container noc-search-form">
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start start">
        <div class="noc-section-heading">
          Required
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <mat-form-field class="">
            <input type="text" matInput formControlName="goTerm" placeholder="Go Term" [matAutocomplete]="goTermAuto" />
            <mat-autocomplete #goTermAuto="matAutocomplete">
              <mat-option *ngFor="let item of searchFormData['goTerm']?.searchResults" [value]="item.id">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.id }}
                  </div>
                  <span fxFlex></span>
                  {{ item.label }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="">
            <input type="text" matInput formControlName="gp" placeholder="Gene Product" [matAutocomplete]="gpAuto" />
            <mat-autocomplete #gpAuto="matAutocomplete">
              <mat-option *ngFor="let item of searchFormData['gp']?.searchResults" [value]="item.id">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.id }}
                  </div>
                  <span fxFlex></span>
                  {{ item.label }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="">
            <mat-label>PMID</mat-label>
            <input matInput formControlName="pmid" placeholder="PMID" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start start">
        <div class="noc-section-heading">
          Curator (optional)
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <mat-form-field class="">
            <input type="text" matInput formControlName="curator" placeholder="Curator"
              [matAutocomplete]="curatorAuto" />
            <mat-autocomplete #curatorAuto="matAutocomplete">
              <mat-option *ngFor="let item of searchFormData['curator']?.searchResults" [value]="item.orcid">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.name }}
                  </div>
                  <span fxFlex></span>
                  {{ item.orcid }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="">
            <input type="text" matInput formControlName="providedBy" placeholder="Group"
              [matAutocomplete]="providedByAuto" />
            <mat-autocomplete #providedByAuto="matAutocomplete">
              <mat-option *ngFor="let item of searchFormData['providedBy']?.searchResults" [value]="item.url">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.name }}
                  </div>
                  <span fxFlex></span>
                  {{ item.url }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start start">
        <div class="noc-section-heading">
          Species
        </div>
        <span fxFlex></span>
      </div>
      <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="px-12 noc-annoton-group-row" fxLayout="column">
          <mat-form-field class="">
            <input type="text" matInput formControlName="species" placeholder="Species"
              [matAutocomplete]="speciesAuto" />
            <mat-autocomplete #speciesAuto="matAutocomplete">
              <mat-option *ngFor="let item of searchFormData['species']?.searchResults" [value]="item.id">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{ item.id }}
                  </div>
                  <span fxFlex></span>
                  {{ item.label }}
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div layout="row" class="noc-submit-row">
      <button *ngIf="false" (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">
        Why is the "Save" button disabled?
      </button>
      <span fxFlex></span>
      <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
      <button (click)="search()" type="button" mat-raised-button color="primary">Search</button>
    </div>
  </form>
</div>
