<div fxLayout="column" fxLayoutAlign="start stretch" class="w-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Activity Elements</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" class="">
    <div class="" fxLayout="row" fxLayoutAlign="start center">
      <div>
        <mat-icon>close</mat-icon>
      </div>
      <div>
        Activity
      </div>
    </div>
  </div>
</div>
