<div id="noc-canvas" class="">
  <div id="noc-palette" class="">
    <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-cam-form noc-drawer h-100-p">
      <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
        <span class="noc-drawer-header-title">
          TOOLBOX
        </span>
      </div>
      <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
        <div #stencils *ngFor="let stencil of stencils">
          <!--   <div class="noc-heading">
            {{stencil.label}}
          </div> -->
          <div [attr.id]="stencil.id" class=""></div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="" class="noc-middle-panel" fxLayout="column" fxLayoutAlign="start ">
    <div class="noc-workflow-toolbar w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <button mat-stroked-button (click)="automaticLayout()" color="primary" class="noc-rounded-button noc-xs mr-8"
        matTooltip="Automatic Tree Layout" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
        Automatic Layout
      </button>
      <span class='noc-title mr-4'>
        Layout Detail:
      </span>
      <button mat-stroked-button class="noc-rounded-button noc-action-button noc-half-button noc-xs" color="primary"
        [matMenuTriggerFor]="graphLayoutDetailMenu">
        {{noctuaGraphEditorService.selectedGraphLayoutDetail.label}} <fa-icon *ngIf="cam.expanded"
          [icon]="['fas', 'caret-down']"></fa-icon>
      </button>
      <mat-menu #graphLayoutDetailMenu="matMenu" class="noc-dropdown-menu">
        <button mat-menu-item *ngFor="let graphLayoutDetail of noctuaFormConfigService.graphLayoutDetail.options"
          class="" (click)="selectLayoutDetail(graphLayoutDetail)">
          {{graphLayoutDetail.label}}
        </button>
      </mat-menu>

      <div class="noc-button-row ml-12">
        <span class='noc-title mr-4'>
          Zoom :
        </span>
        <button mat-stroked-button (click)="zoomOut()" color="" class="noc-rounded-button noc-half-button noc-xs noc-r">
          <fa-icon class="" [icon]="['fas', 'search-minus']"></fa-icon>
        </button>
        <button mat-stroked-button (click)="zoomIn()" color="" class="noc-rounded-button noc-half-button noc-xs noc-m">
          <fa-icon class="" [icon]="['fas', 'search-plus']"></fa-icon>
        </button>
        <button mat-stroked-button (click)="noctuaCamGraphService.reset()" color=""
          class="noc-rounded-button noc-half-button noc-xs noc-l">
          <mat-icon>youtube_searched_for</mat-icon>
        </button>
      </div>

    </div>
    <div class="noc-paper-container" (wheel)="onCtrlScroll($event)">
      <div #paper id="noc-paper" class="">
      </div>
    </div>
  </div>
</div>