@use '@angular/material' as mat;
@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%;
  background-color: white;
  @include mat.elevation(4);

  .noc-cam-progress {
    position: absolute;
    top: 0;
    height: 5px;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .noc-drawer {
    @include deep-width(380px);

    .noc-drawer-header {
      padding: 0 12px;
      @include deep-height(30px);
      background-color: #fff;
      @include mat.elevation(2);
      z-index: 1000;

      .noc-drawer-header-title {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .noc-drawer-body {
      padding: 24px 8 100px 0;
      min-height: calc(100% - 30px);
    }
  }

  .noc-tree-container {
    position: relative;
    padding: 12px 8px;
    @include deep-width(100%);
    .noc-cell-label {
      position: relative;
      @include deep-width(100%);
      @include deep-height(20px);
      padding: 4px 10px 4px 5px;
      font-size: 10px;
      color: map-get($primary, default);
      border-bottom: $noc-primary-color-light solid 1px;
      .noc-edit-button {
      }
    }

    .noc-tree {
      @include deep-width(100%);
      @include deep-height(100%);

      .node-content-wrapper {
        padding: 0 !important;
      }

      /*   &::before {
        content: "";
        position: absolute;
        border-left: 1px solid $noc-tree-line-color;
        height: 100%;
        top: 0;
        left: 55px;
      } */
    }

    .noc-tree-node {
      font-size: 12px;
      color: #000;

      .noc-node-expander-button {
        @include deep-width(20px);
        @include deep-height(20px);
        line-height: 14px;
        background-color: #ffffff;
      }

      .noc-expander-placeholder {
        @include deep-width(20px);
        @include deep-height(20px);
      }

      .noc-icon-button {
        @include deep-height(25px);
        @include deep-width(25px);
        line-height: 25px;
        color: #aaa;
      }

      .noc-tree-icon {
        color: #000;
        font-size: 14px;
      }

      .noc-term-row {
        padding: 5px;

        .noc-title {
          // font-weight: bold;
          //font-size: 20px;
          //margin-bottom: 5px;
          // word-break: break-all;
        }

        .noc-subtitle {
          font-size: 10px;
          color: #777;
        }

        .noc-article-title {
          font-size: 10px;
          max-height: 60px;
          overflow: hidden;
        }

        .noc-article-author {
          font-size: 10px;
          max-height: 60px;
          color: #777;
          overflow: hidden;
        }

        .noc-badge,
        .noc-aspect-badge {
          margin: 2px 5px;
          @include deep-width(20px);
          // background-color: #91b995;
          color: #777;
          border-radius: 6px;
          font-size: 8px;
          font-weight: bold;
          border: #000 solid 1px;
          border-top: none;
          border-bottom: none;
        }

        .noc-aspect-badge {
          margin: 2px 5px;
          @include deep-width(30px);
          // background-color: #91b995;
          color: #777;
          border-radius: 6px;
          font-size: 10px;
        }

        .noc-icon {
          @include deep-width(25px);
          color: #777;
        }
      }

      .noc-category-row {
        //padding-right: 50px;
        .noc-title {
          // font-weight: bold;
          font-size: 18px;
          //margin-bottom: 5px;
          // word-break: break-all;
        }
      }

      &:hover {
        background-color: rgba(#000000, 0.1);
      }
    }

    &.noc-selected {
      background-color: rgba($noc-highlight-model-color, 0.3);
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }
}
