<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Browse By Species</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch" class="mt-8 noc-search-form" noctuaPerfectScrollbar>
    <div fxFlex *ngFor="let organism of noctuaSearchService.organisms" (click)="selectOrganism(organism)"
      class="noc-organism-row" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-name">
        {{ organism.taxonName }}
      </div>
      <div class="w-100-p" fxLayout="column" fxLayoutAlign="center center">

        <!--  <div class="">
          <strong>{{ organism.cams }}</strong> Models
        </div> -->
      </div>
      <span fxFlex></span>
      <mat-icon class="s-24">
        chevron_right
      </mat-icon>
    </div>
  </form>
</div>
