@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%; // display: block;



  .noc-tree-input {
    $border-color: rgba(#000, 0.20);
    @include deep-width(20px);

    &.noc-level-1 {
      border-left: $border-color dotted 2px;
    }

    .noc-tree-line {
      width: 100%;
      border-left: $border-color dotted 2px;

      &.line-t {
        @include deep-height(2px);
        border-left: $border-color dotted 2px;
        border-bottom: $border-color dotted 2px;
      }

      &.line-m {
        @include deep-height(2px);
        border-bottom: $border-color dotted 2px;
      }
    }
  }

  .noc-form-chip-row {
    padding: 8px 5px;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
        }
      }
    }

    &.noc-form-chip {
      padding: 0 0 0 8px;
      @include deep-height(25px);
      font-size: 10px;

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }

      }

      @include noc-chip-color(#DDD);

      &.noc-node-chip {
        &.noc-mf {
          @include noc-chip-color(#b6f1cc);
          // border: #d59f80 solid 1px;/
        }

        &.noc-bp {
          @include noc-chip-color(#f4c89c);
          // border: #d59f80 solid 1px;/
        }

        &.noc-cc {
          @include noc-chip-color(rgba(#d3b5f5, 0.8));
          // border: #d59f80 solid 1px;/
        }
      }

    }
  }

  .noc-evidence-db-trigger {
    @include deep-height(20px);
    @include deep-width(20px);
  }

  textarea {
    height: 100%;
  }


  .noc-action-button {
    margin: 8px 0 0 0;
    //   background-color: #FAFAFA;
    //  width: 35px;
    //  height: 35px;
    @include mat-elevation(2);

    icon {
      //    @include noc-icon-size(14px);
      color: #AAA;
      line-height: 18px;
    }

    &:hover {
      background-color: #999;

      icon {
        color: #222;
      }
    }
  }

  .noc-header {
    @include deep-height(30px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(30px);
      @include deep-width(30px);
      line-height: 30px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-annoton-form {
    .noc-form-section {
      width: 100%;
      background-color: #FFF;

      .noc-section-header {
        height: 30px;
        background-color: $noc-primary-color-light;

        .noc-section-heading {
          padding-left: 8px;
          font-size: 12px;
          line-height: 40px;
          color: #555;
        }

        .noc-action-button {
          margin: 0px;
          height: 40px; // line-height: 36px;
        }
      }

      .noc-section-body {
        padding: 5px 5px;
      }
    }

    .noc-term-group {
      // padding-bottom: 20px;
      margin-bottom: 3px;
      //  border-bottom: #CCC solid 1px;
      background-color: #FFF;

      .noc-group-heading {
        margin-bottom: 20px;
        height: 40px;
        font-weight: 500;
        font-size: 18px;
      }

      .noc-annoton-group-row {
        &.noc-row-disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        &.noc-input-heading {
          margin-top: 10px;
        }
      }


    }


    .noc-submit-row {
      margin: 10px 0;
      padding: 10px 0;
      background-color: #FFF;
    }
  }
}
