<div [formGroup]="entityFormGroup" fxLayout="row" fxLayoutAlign="start stretch" class="w-100-p">
  <div *ngIf="entity.treeLevel>1" class="noc-tree-input noc-level-1" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="entity.treeLevel===2" class="noc-tree-line line-m" fxFlex></div>
  </div>
  <div *ngIf="entity.treeLevel>2" class="noc-tree-input noc-level-2" fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="entity.treeLevel===3" class="noc-tree-line line-t" fxFlex="50%"></div>
    <div *ngIf="entity.treeLevel<3" class="noc-tree-line iine-b" fxFlex="50%"></div>
  </div>
  <div *ngIf="entity.treeLevel>3" class="noc-tree-input noc-level-3" fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="entity.treeLevel===4" class="noc-tree-line line-t" fxFlex="50%"></div>
    <div *ngIf="entity.treeLevel<4" class="noc-tree-line iine-b" fxFlex="50%"></div>
  </div>
  <div *ngIf="entity.treeLevel>4" class="noc-tree-input noc-level-3" fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="entity.treeLevel===5" class="noc-tree-line line-t" fxFlex="50%"></div>
    <div *ngIf="entity.treeLevel<5" class="noc-tree-line iine-b" fxFlex="50%"></div>
  </div>
  <div flex="" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="noc-form-chip-row" flex="" fxLayout="column" fxLayoutAlign="start stretch">
      <!--  <mat-chip-list class="w-100-p">
        <ng-container *ngFor="let friendNode of friendNodes">
          <mat-chip class="noc-form-chip noc-node-chip" *ngFor="let annotonNode of friendNode.annotonNodes" [ngClass]="{'noc-mf': annotonNode.type === annotonNodeType.GoMolecularFunction,
          'noc-bp': annotonNode.type === annotonNodeType.GoBiologicalProcess,
          'noc-cc': annotonNode.type === annotonNodeType.GoCellularComponent}" fxLayout="row"
            fxLayoutAlign="start center" matTooltip="Term: {{annotonNode.term?.label}} ({{annotonNode.term?.id}})"
            [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
            <div fxFlex="" class="noc-chip-label">
              {{annotonNode.term?.label}}
            </div>
            <div
              *ngIf="annotonNode.type === annotonNodeType.GoBiologicalProcess || annotonNode.type === annotonNodeType.GoCellularComponent"
              class="noc-icon-action" (click)="$event.stopPropagation();useTerm(annotonNode, friendNode.annoton)">
              <fa-icon [icon]="['fas', 'link']"></fa-icon>
            </div>
          </mat-chip>
        </ng-container>
      </mat-chip-list> -->
    </div>
    <div flex="" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="p-4" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field class="noc-sm w-100-p" appearance="outline">
          <mat-label>{{entity.label}}</mat-label>
          <textarea type="text" matInput formControlName="term" (focus)="updateTermList()" [matAutocomplete]="termAuto"
            row="2">
      </textarea>
          <mat-autocomplete #termAuto="matAutocomplete" [displayWith]="termDisplayFn" class="noc-term-autocomplete">
            <mat-option *ngFor="let item of entity?.termLookup.results" [value]="item">
              <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                <div class="noc-term-label">
                  {{ item.label }}
                </div>
                <span fxFlex></span>
                <div class="noc-term-id">
                  <a *ngIf="item.link" (click)="$event.stopPropagation()" href="{{item.link}}" target="_blank">
                    {{ item.id }}
                  </a>
                  <span *ngIf="!item.link">
                    {{ item.id }}
                  </span>
                </div>
                <!--    <button mat-stroked-button (click)="openTermDetails($event, item)"
                  class="noc-term-detail-trigger noc-rounded-button noc-sm ml-8">
                  <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                </button> -->
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="600px" fxLayout="column" fxLayoutAlign="start stretch">
        <div formArrayName="evidenceFormArray"
          *ngFor="let evidence of entityFormGroup.get('evidenceFormArray')?.controls; let i = index;">
          <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start stretch" class="w-100-p">
            <div class="p-4" fxFlex="55">
              <mat-form-field appearance="outline" class="noc-sm w-100-p">
                <mat-label>Evidence</mat-label>
                <textarea type="text" matInput formControlName="evidence" (focus)="updateEvidenceList(entity)"
                  [matAutocomplete]="evidenceAuto" rows="2"></textarea>
                <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
                  class="noc-term-autocomplete">
                  <mat-option *ngFor="let item of entity?.predicate?.evidenceLookup.results" [value]="item">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                      <div class="noc-term-label">
                        {{ item.label }}
                      </div>
                      <span fxFlex></span>
                      <div class="noc-term-id mr-8">
                        <strong>
                          {{ item.xref }}
                        </strong>
                      </div>
                      <div class="noc-term-id">
                        <a *ngIf="item.link" (click)="$event.stopPropagation()" href="{{item.link}}" target="_blank">
                          {{ item.id }}
                        </a>
                        <span *ngIf="!item.link">
                          {{ item.id }}
                        </span>
                      </div>
                    </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="p-4" fxFlex="25">
              <mat-form-field appearance="outline" class="noc-sm w-100-p">
                <mat-label>Reference</mat-label>
                <textarea matInput formControlName="reference" [matAutocomplete]="referenceAuto" rows="2"
                  autocomplete="off" (focus)="updateReferenceList()"></textarea>
                <button mat-icon-button matSuffix (click)="openAddReference($event, evidence, 'reference')"
                  class="noc-evidence-db-trigger">
                  <mat-icon>playlist_add</mat-icon>
                </button>
                <mat-autocomplete #referenceAuto="matAutocomplete" class="noc-term-autocomplete">
                  <mat-option *ngFor="let item of entity?.predicate?.referenceLookup.results" [value]="item">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                      <div class="noc-term-label">
                        {{ item }}
                      </div>
                    </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="p-4" fxFlex fxFlex="20">
              <mat-form-field appearance="outline" class="noc-sm w-100-p">
                <mat-label>With</mat-label>
                <textarea matInput formControlName="with" [matAutocomplete]="withAuto" rows="2"
                  (focus)="updateWithList()" autocomplete="off"></textarea>
                <!--  <button mat-icon-button matSuffix (click)="openAddWith($event, evidence, 'with')"
                  class="noc-evidence-db-trigger">
                  <mat-icon>playlist_add</mat-icon>
                </button> -->
                <mat-autocomplete #withAuto="matAutocomplete" class="noc-term-autocomplete">
                  <mat-option *ngFor="let item of entity?.predicate?.withLookup.results" [value]="item">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                      <div class="noc-term-label">
                        {{ item }}
                      </div>
                    </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <span fxFlex=""></span>
            <button mat-icon-button class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
              <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchDatabaseDialog(entity)">
                Search Annotations
              </button>
              <!--  <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchEvidenceDialog(entity)">
                Search Evidence
              </button>
               <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchModels()">
            Search Models
             </button> 
              <button mat-menu-item *ngIf="entity.aspect==='P' && !entity.linkedNode" class="" (click)="linkNode(entity)">
                Choose From an Existing Process
              </button>
              <button mat-menu-item *ngIf="entity.linkedNode" class="" (click)="unlinkNode(entity)">
                Unlink Node
              </button>
            -->
              <button mat-menu-item *ngIf="true" class="" (click)="toggleIsComplement(entity)">
                NOT Qualifier
              </button>
              <button mat-menu-item *ngIf="entity.insertMenuNodes?.length>0" [matMenuTriggerFor]="addMenu">
                Add an Extension
              </button>
              <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
              <button mat-menu-item *ngIf="entity.aspect" class="" (click)="addRootTerm()">
                Add Root Term
              </button>
              <button mat-menu-item class="" (click)="clearValues()">
                Clear Values
              </button>
            </mat-menu>
            <mat-menu #addMenu="matMenu">
              <button mat-menu-item *ngFor="let insertMenuItem of entity.insertMenuNodes" class=""
                (click)="insertEntity(insertMenuItem)">
                {{insertMenuItem.label}}
              </button>
            </mat-menu>
            <mat-menu #evidenceMenu="matMenu">
              <button mat-menu-item class="" (click)="addEvidence()">
                Add Evidence
              </button>
              <button (click)="removeEvidence(i)" mat-menu-item>
                Remove Evidence
              </button>
              <button mat-menu-item class="" (click)="openSelectEvidenceDialog()">
                Clone Evidence
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
